# DATA SCIENCE AND MACHINE LEARNING

**CONTENTS -**

PART - A - CONCEPTS

PART - B - PYTHON

1. **Data Science Concept** -The Thought of Data Science Came from Data Analysis. Data Analysis isn't new. Statisticians have been doing it for many years. Even Normal people have been Doing it in excel for years.But Slowly amount of data increased due to Wide Internet usage. It is become impossible for statistician to analyze such huge quantity of data. So various software and programing languages have been developed for doing this Analysis. Analysis of data through this softwares and derive insights from it called Data Science. Also In Statistics we deal with samples of data, To find insights from it. But in Data Science we deal with total data. So Unlike Statistics in data Science insights are more accurate.

2. **Data Mining** -

a. **Establishing Goals**
- Identify Key Questions That to be Answered
- Expected level of acquiricy of the result.
- Higher the expected Level of Acquiricy Higher the Project cost
- Usefullness of the result

b. **Selecting Data**
- The output  largely depends upon the quality of data being used. 
- If data is not readily available plan new data collection initiatives, including surveys.
- Availability of Data Also effecting Cost

c. **Preprocessing Data**
- STEP 1 - Identify the irrelevant attributes and erroneous aspects of data to ensure integrity. 
- STEP 2 - Develop a formal method of dealing with missing data in advance and determine whether the data are missing randomly or systematically  and its impact on results.If observations or variables are missing randomly its impact is less, if data is missing systamaticaly This would lead to systematic biases in the analysis.
- STEP 3 - After the relevant attributes of data have been retained, the next step is to determine the appropriate format in which data must be stored. 
- STEP 4 -  Reduce the number of attributes needed to explain the phenomena by transforming observations or variables reduction algorithms such as Principal Component Analysis without a significant loss in information. Often you need to transform variables from one type to another. Like Continious Variable to Categorial Variable. This could help capture the non-linearities in the underlying behaviors.

d. **Storing Data**
- Transformed data must be stored in a format that makes it conducive for data mining. 
- Data must be stored in a format that gives unrestricted and immediate read/write privileges to the data scientist. 
- During data mining, new variables are created, which are written back to the original database, which is why the data storage scheme should facilitate efficiently reading from and writing to the database. 
- It is also important to store data on servers or storage media that keeps the data secure and also prevents the data mining algorithm from unnecessarily searching for pieces of data scattered on different servers or storage media. Data safety and privacy should be a prime concern for storing data.

e. **Mining Data** - Finding Trends - Finding Sonething - Data Analysis
- Data analysis using, including parametric and non-parametric methods, and machine-learning algorithms. A good starting point for data mining is data visualization. 
- Multidimensional views of the data using the advanced graphing capabilities of data mining software are very helpful in developing a preliminary understanding of the trends hidden in the data set. 

f. **Evaluating Mining Results**
- In-sample forecast means testing the predictive capabilities of the models on observed data to see how effective and efficient the algorithms have been in reproducing data. 
- Evalution of results in the light of the Stakeholders feedback and use better and improved algorithms to improve the quality of results.

3. **The Report Structure**
- **Detailed Report or Brief Report** - Before starting the analysis, think about the structure of the report. It can be a 5 page report or  100 page document. A brief report is more to the point and presents a summary of key findings.
A detailed report incrementally builds the argument and contains details about other relevant works, research methodology, data sources, and intermediate findings along with the main results.
The length of the reports varied depending largely on the purpose of the report. Brief reports were drafted as commentaries on current trends and developments that attracted public or media attention.
Detailed and comprehensive reports offered a critical review of the subject matter with extensive data analysis and commentary.
Often, detailed reports collected new data or interviewed industry experts to answer the research questions. Even if you expect the report to be brief, sporting five or fewer pages, I recommend that the deliverable follow a prescribed
format including the cover page, table of contents, executive summary, detailed contents, acknowledgments, references, and appendices (if needed).
- **Cover Report** - I often find the cover page to be missing in documents. It is not the inexperience of undergraduate students that is reflected in submissions that usually miss the cover page.
In fact, doctoral candidates also require an explicit reminder to include an informative cover page. I hasten to mention that the business world sleuths are hardly any better.
Just search the Internet for reports and you will find plenty of reports from reputed firms that are missing the cover page. At a minimum, the cover page should include the title of the report, names of authors, their affiliations,
and contacts, the name of the institutional publisher (if any), and the date of publication. I have seen numerous reports missing the date of publication, making it impossible to cite them without the year
and month of publication. Also, from a business point of view, authors should make it easier for the reader to reach out to them. Having contact details at the front makes the task easier.
- **Table of Contents** - "A table of contents (ToC)" is like a map needed for a trip never taken before. You need to have a sense of the journey before embarking on it.
A map provides a visual proxy for the actual travel with details about the landmarks that you will pass by in your trip. The ToC with main headings and lists of tables and figures offers a glimpse of what lies ahead in the document.
Never shy away from including a ToC, especially if your document, excluding cover page, table of contents, and references, is five or more pages in length.
Even for a short document, I recommend an "abstract" or an "executive summary". Nothing is more powerful than explaining the crux of your arguments in three paragraphs or less.
Of course, for larger documents running a few hundred pages, the executive summary could be longer.
- **Introductory Section** - An "introductory section" is always helpful in setting up the problem for the reader who might be new to the topic and who might need to be gently introduced to the subject matter
before being immersed in intricate details. A good follow-up to the introductory section is a review of available relevant research on the subject matter.
The length of the literature review section depends upon how contested the subject matter is. In instances where the vast majority of researchers have concluded in one direction,
- **Nuanced arguments** - On the other hand, if the arguments are more nuanced with caveats aplenty, then you must cite the relevant research to offer adequate context before you embark on your analysis.
- **Literature review**- You might use the literature review to highlight gaps in the existing knowledge, which your analysis will try to fill. This is where you formally introduce your research questions and hypothesis.
- **Methodology** - In the "methodology" section, you introduce the research methods and data sources you used for the analysis. If you have collected new data, explain the data collection exercise in some detail.
You will refer to the literature review to bolster your choice for variables, data, and methods and how they will help you answer your research questions.
- **Results** - The results section is where you present your empirical findings. Starting with descriptive statistics.and illustrative graphics you will move toward formally testing your hypothesis
In case you need to run statistical models, you might turn to regression models or categorical analysis. If you are working with time-series data
You can also report results from other empirical techniques that fall under the general rubric of data mining.
Note that many reports in the business sector present results in a more palatable fashion by holding back the statistical details and relying on illustrative graphics to summarize the results.
The results section is followed by the discussion section, where you craft your main arguments by building on the results you have presented earlier.
- **Discussion Knowledge Gaap**- The "discussion section" is where you rely on the power of narrative to enable numbers to communicate your thesis to your readers.
You refer the reader to the research question and the knowledge gaps you identified earlier. You highlight how your findings provide the ultimate missing piece to the puzzle.
Of course, not all analytics return a smoking gun. At times, more frequently than I would like to acknowledge, the results provide only a partial answer to the question and that, too, with a long list of caveats.
- **Conclusion** - In the "conclusion" section, you generalize your specific findings and take on a rather marketing approach to promote your findings so that the reader does not remain stuck in
the caveats that you have voluntarily outlined earlier. You might also identify future possible developments in research and applications that could result from your research.
What remains is housekeeping, including a list of references, the acknowledgment section (acknowledging the support of those who have enabled your work is always good), and "appendices", if needed.
- **Important Questions**
Have You Done Your Job as a Writer? As a writer, you are responsible for communicating your findings to the readers.
Have You done your Job as a Data Scientist? As a data scientist, you are expected to do thorough analysis with the appropriate data, deploying the appropriate tools.
Transport Policy, a leading research publication in transportation planning, offers a checklist for authors interested in publishing with the journal.
Have you told readers, at the outset, what they might gain by reading your paper?
Have you made the aim of your work clear?
Have you explained the significance of your contribution?
Have you set your work in the appropriate context by giving sufficient background (including a complete set of relevant references) to your work?
Have you addressed the question of practicality and usefulness?
Have you identified future developments that might result from your work?
Have you structured your paper in a clear and logical fashion?
- **Leanth and Content** - The length and content of the final report will vary depending on the needs of the project.
The structure of the final report for a Data Science project should include a cover page, table of contents, executive summary, detailed contents, acknowledgements, references and appendices.
The report should present a thorough analysis of the data and communicate the project findings.

3. **Data Science Methodology**

A. **Business Understanding And Analytical Approach**

- The need to understand and prioritize the business goal.
- The way stakeholder support influences a project.
- The importance of selecting the right model.
- When to use a predictive, descriptive, or classification model.

B. **Data Requirement And Data Collection**

- Identify data requirements for your model.
- Why the content, format, and representation of your data matter.   
- The importance of identifying the correct sources of data for your project.
- How to handle unavailable and redundant data.
- To anticipate the needs of future stages in the process.

C. **Data Understanding And Preparation**

- The importance of descriptive statistics.
- How to manage missing, invalid, or misleading data.
- The need to clean data and sometimes transform it.
- The consequences of bad data for the model.
- Data understanding is iterative; you learn more about your data the more you study it.

D. **Modeling And Evolution**

- The difference between descriptive and predictive models.
- The role of training sets and test sets.
- The importance of asking if the question has been answered.
- Why diagnostic measures tools are needed.
- The purpose of statistical significance tests.
- That modeling and evaluation are iterative processes.

E. **Deployment And Feedback**

- The importance of stakeholder input.
- To consider the scale of deployment.
- The importance of incorporating feedback to refine the model.
- The refined model must be redeployed.
- This process should be repeated as often as necessary.

- **10 Questions to Ask**

1. What is the problem that you are trying to solve?
2. How can you use the Data to Answer the Question?
3. What data do you need to answer the question?
4. Where is the data comming from and how you get it?
5. Is the data you have collected representative of the problem to be solved?
6. What additional work is required to manipulate and work with the data?
7. In what way can the data be visualized to get the answer that is required?
8. Does the model used realy answer the initial question or does it need to be adjusted?
9. Can you put the model into practice?
10. Can you get constructive feedback to answering the question?

4. **Machine learning**

Machine learning  is a subset of AI that uses computer algorithms to analyze data and make intelligent decisions based on what it is learned without being explicitly programmed.Machine learning algorithms are trained with large sets of data and they learn from examples. They do not follow rules-based algorithms. Machine learning is what enables machines to solve problems on their own and make accurate predictions using the provided data.

**Techniques** -

1. **Regression/Estimation** - Predecting Continioues values for example price of a house based on its characteristics or estimate co2 ommission from a car engine. 
2. **Classification** - Predecting class or catagory of a case.for example, if a cell is benign or malignant, or whether or not a customer will churn. 
3. **Clustering** - Groups of similar cases, for example, can find similar patients, or can be used for customer segmentation in the banking field.
4. **Association** -  Technique is used for finding items or events that often co-occur, for example, grocery items that are usually bought together by a particular customer.
5. **Anomaly detection**-  Is used to discover abnormal and unusual cases, for example, it is used for credit card fraud detection.
6. **Sequence mining** -  Is used for predicting the next event, for instance, the click-stream in websites.
7. **Dimension reduction** -  Is used to reduce the size of data.
8. **Recommendation systems**- This associates people's preferences with others who have similar tastes, and recommends new items to them, such as books or movies.

5. **Deep learning And Nural Networks**

6. **Artificial intelligence**

7. **Tools Available** -

***PART - B - PYTHON***

1. Python Basics
2. Python for importing files
3. Python for Web scraping
4. Python for Sql
5. Python for Data Analysis 
6. Python for Data Visualization
7. Python for Machine Learning
8. Projects

# 1. **Python Syntax**

1. **Python syntax can be executed by writing directly in the Command Line.**

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [80]:
print("Hello, World!")

Hello, World!

In [81]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

2. **Python will give you an error if you skip the indentation:**

In [83]:
if 5 > 2:
print("Five is greater than two!")

<class 'IndentationError'>: expected an indented block after 'if' statement on line 1 (<ipython-input-83-a314491c53bb>, line 2)

3. **The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one**

In [82]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# 2. Python Comments

- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.
- Comments starts with a #,  and Python will ignore them.

In [90]:
#This is a comment
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will ignore the rest of the line.

In [91]:
print("Hello, World!") #This is a comment

Hello, World!

In [92]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# 3. Python Variables

- Variables are containers for storing data values.
- Python has no command for declaring a variable.
- A variable is created the moment you first assign a value to it.

In [94]:
x = 5
y = "John"
print(x)
print(y)

5
John

- Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [95]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [96]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

- **Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [97]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Illegal variable names:**

In [98]:
2myvar = "John"
my-var = "John"
my var = "John"

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-98-0e82719f22b4>, line 1)

**Python allows you to assign values to multiple variables in one line:**

In [99]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables**

In [100]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**

In [101]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

The Python print() function is often used to output variables.

In [102]:
x = "Python is awesome"
print(x)

Python is awesome

**In the print() function, you output multiple variables, separated by a comma:**

In [103]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

**You can also use the + operator to output multiple variables:**

In [105]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [106]:
x = 5
y = 10
print(x + y)

15

**In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error**

In [107]:
x = 5
y = "John"
print(x + y)

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

**The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:**

In [108]:
x = 5
y = "John"
print(x, y)

5 John

**Global Variables.**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [109]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.**

In [110]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# 4. Python Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [111]:
x = 5
print(type(x))

<class 'int'>

In [112]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [113]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [114]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [115]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [116]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [117]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [118]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [119]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [120]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [123]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [122]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [124]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [125]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [126]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x31dfa08>
<class 'memoryview'>

In [127]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

# 5. Python Numbers

There are three numeric types in Python:

int

float

complex

In [129]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [130]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [131]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [132]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [133]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [134]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Convert from one type to another**

In [135]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.**

In [137]:
import random

print(random.randrange(1, 10))

6

# 6.Casting

Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [139]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [142]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [143]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# 7. Python Strings

Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [144]:
print("Hello")
print('Hello')

Hello
Hello

Assign String to a Variable

In [145]:
a = "Hello"
print(a)

Hello

You can use three double quotes:

In [146]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [147]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Slicing Strings**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [149]:
b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start- Get the characters from the start to position 5 (not included):

In [150]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End - Get the characters from position 2, and all the way to the end:

In [151]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [152]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Modify Strings**

Python has a set of built-in methods that you can use on strings.

The upper() method returns the string in upper case:

In [154]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

The lower() method returns the string in lower case:

In [155]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [158]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

The replace() method replaces a string with another string:

In [159]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Split String**

The split() method splits the string into substrings if it finds instances of the separator:

In [160]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

**String Concatenation**

Merge variable a with variable b into variable c:

In [161]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

- add a space between them, add a " ":

In [162]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Format - Strings**

We cannot combine strings and numbers like this:

In [163]:
age = 36
txt = "My name is John, I am " + age
print(txt)

<class 'TypeError'>: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [164]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [166]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [167]:
txt = "We are the so-called "Vikings" from the north."

<class 'SyntaxError'>: invalid syntax (<ipython-input-167-56cdf4283a8e>, line 1)

**To fix this problem, use the escape character SLASS ": **

In [169]:
txt = "We are the so-called \"Vikings\" from the north."

In [170]:
txt

'We are the so-called "Vikings" from the north.'

**Single Quote**

In [171]:
txt = 'It\'s alright.'
print(txt)

It's alright.

**Backslash**

In [172]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

**New Line**

In [173]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

**Carriage Return**

In [174]:
txt = "Hello\rWorld!"
print(txt)

World!

**Tab**

In [175]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

**Backspace**

In [176]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

**Form Feed**

In [177]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

**Octal value**

In [178]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

**Hex value**

In [179]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

**String Methods**

capitalize() Converts the first character to upper case

In [180]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

casefold() Converts string into lower case

In [181]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

center()	Returns a centered string

Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [182]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

Using the letter "O" as the padding character:

In [183]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

count()	Returns the number of times a specified value occurs in a string

Return the number of times the value "apple" appears in the string:

In [184]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

Search from position 10 to 24:

In [186]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

Python String encode() Method

UTF-8 encode the string:

In [187]:
txt = "My name is Stle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

Definition and Usage

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

encoding	Optional. A String specifying the encoding to use. Default is UTF-8

errors	Optional. A String specifying the error method. Legal values are:
    
'backslashreplace'	- uses a backslash instead of the character that could not be encoded

'ignore'	- ignores the characters that cannot be encoded

'namereplace'	- replaces the character with a text explaining the character

'strict'	- Default, raises an error on failure

'replace'	- replaces the character with a questionmark

'xmlcharrefreplace'	- replaces the character with an xml character

These examples uses ascii encoding, and a character that cannot be encoded, showing the result with different errors:

In [188]:
txt = "My name is Stle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

endswith()	Returns true if the string ends with the specified value

In [189]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [190]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

Check if position 5 to 11 ends with the phrase "my world.":

In [191]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

expandtabs()	Sets the tab size of the string

Set the tab size to 2 whitespaces:

In [192]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [193]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

find()	Searches the string for a specified value and returns the position of where it was found

In [194]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

Where in the text is the first occurrence of the letter "e"?:

In [195]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [196]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

If the value is not found, the find() method returns -1, but the index() method will raise an exception:

In [198]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

<class 'ValueError'>: substring not found

format()	Formats specified values in a string

Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

In [200]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)

txt2 = "My name is {0}, I'm {1}".format("John",36)

txt3 = "My name is {}, I'm {}".format("John",36)

:<   Left aligns the result (within the available space)

In [201]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

:>		Right aligns the result (within the available space)

In [203]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

:^		Center aligns the result (within the available space)

In [204]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

:=		Places the sign to the left most position

In [205]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

:+		Use a plus sign to indicate if the result is positive or negative

In [207]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

:-		Use a minus sign for negative values only

In [208]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

: 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

In [209]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

:,		Use a comma as a thousand separator

In [210]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

:_		Use a underscore as a thousand separator

In [211]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

:b		Binary format

In [212]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

:c		Converts the value into the corresponding unicode character

:d		Decimal format

In [213]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

:e		Scientific format, with a lower case e

In [214]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

:e		Scientific format, with a lower case e

In [215]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

:E		Scientific format, with an upper case E

In [216]:
#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

:E		Scientific format, with an upper case E

In [217]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

:f		Fix point number format

In [218]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)

In [219]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

:g		General format

In [ ]:
:G		General format (using a upper case E for scientific notations)

:o		Octal format

In [220]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

:x		Hex format, lower case

In [221]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

:X		Hex format, upper case

In [222]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

:n		Number format

:%		Percentage format

In [223]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

Where in the text is the word "welcome"?:

In [224]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

In [225]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

isalnum()	Returns True if all characters in the string are alphanumeric

In [226]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

Check if all the characters in the text is alphanumeric:

In [228]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

isalpha()	Returns True if all characters in the string are in the alphabet

In [230]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

In [231]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

isdecimal()	Returns True if all characters in the string are decimals

In [232]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

In [233]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

isdigit()	Returns True if all characters in the string are digits

In [234]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [235]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for 

print(a.isdigit())
print(b.isdigit())

True
True

isidentifier()	Returns True if the string is an identifier

In [236]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [237]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

islower()	Returns True if all characters in the string are lower case

In [238]:
txt = "hello world!"

x = txt.islower()

print(x)

True

The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [239]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

isnumeric()	Returns True if all characters in the string are numeric

In [240]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like  and  are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

In [241]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

isprintable()	Returns True if all characters in the string are printable

In [242]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

The isprintable() method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

In [243]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

isspace()	Returns True if all characters in the string are whitespaces

In [244]:
txt = "   "

x = txt.isspace()

print(x)

True

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [245]:
txt = "   s   "

x = txt.isspace()

print(x)

False

istitle()	Returns True if the string follows the rules of a title

In [247]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

In [248]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

isupper() Returns True if all characters in the string are upper case

In [249]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

he isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [250]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [251]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

In [252]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

ljust()	Returns a left justified version of the string

In [254]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [255]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
ljust()	Returns a left justified version of the string

In [256]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [257]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

lower()	Converts a string into lower case

In [258]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

The lower() method returns a string where all characters are lower case.

 Symbols and Numbers are ignored.

lstrip()	Returns a left trim version of the string

In [259]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

he lstrip() method removes any leading characters (space is the default leading character to remove)

In [260]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

maketrans()	Returns a translation table to be used in translations

Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

In [261]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

In [262]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [263]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [264]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

partition()	Returns a tuple where the string is parted into three parts

Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"

2 - the "match"

3 - everything after the "match"

In [265]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

In [266]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

replace()	Returns a string where a specified value is replaced with a specified value

In [268]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

The replace() method replaces a specified phrase with another specified phrase.

In [269]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [270]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

In [271]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

Where in the text is the last occurrence of the letter "e"?:

In [272]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?

In [273]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

In [275]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

<class 'ValueError'>: substring not found

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

rjust()	Returns a right justified version of the string

Return a 20 characters long, right justified version of the word "banana":

In [279]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

The rjust() method will right align the string, using a specified character (space is default) as the fill character.

In [281]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

rpartition()	Returns a tuple where the string is parted into three parts

Search for the last occurrence of the word "bananas", and return a tuple with three elements:

1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [282]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

In [283]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

rsplit()	Splits the string at the specified separator, and returns a list

In [284]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [285]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

Split a string into a list, using comma, followed by a space (, ) as the separator:

In [286]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

In [287]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

rstrip()	Returns a right trim version of the string

Remove any white spaces at the end of the string:

In [289]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

Remove the trailing characters if they are commas, s, q, or w:

In [290]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

split()	Splits the string at the specified separator, and returns a list

In [291]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Split the string, using comma, followed by a space, as a separator:

In [292]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

Use a hash character as a separator:

In [293]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

Split the string into a list with max 2 items:

In [294]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

splitlines()	Splits the string at line breaks and returns a list

Split a string into a list where each line is a list item:

In [295]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [296]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

startswith()	Returns true if the string starts with the specified value

In [297]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

The startswith() method returns True if the string starts with the specified value, otherwise False.

In [298]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

strip()	Returns a trimmed version of the string

In [299]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

Remove the leading and trailing characters:

In [301]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

swapcase()	Swaps cases, lower case becomes upper case and vice versa

Make the lower case letters upper case and the upper case letters lower case:

In [302]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

title()	Converts the first character of each word to upper case

In [303]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

Make the first letter in each word upper case:

In [305]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [306]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

translate()	Returns a translated string

Replace any "S" characters with a "P" character:

In [307]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

In [308]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [309]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [310]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [311]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

upper()	Converts a string into upper case

In [312]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

The upper() method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
Fill the string with zeros until it is 10 characters long:

In [313]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

he zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

Fill the strings with zeros until they are 10 characters long:

In [315]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

# 2. **Bullion** - 

Bullion express true or false. If there is something in the bracket true if not false.

In [15]:
print(10 > 9)

True

In [16]:
print(10 == 9)

False

In [17]:
print(10 < 9)

False

In [19]:
print(bool("Hello"))

True

In [20]:
print(bool(15))

True

In [21]:
x = "Hello"
y = 15

print(bool(x))

True

In [22]:
print(bool(y))

True

In [23]:
bool("abc")

True

In [24]:
bool(123)

True

In [25]:
bool(["apple", "cherry", "banana"])

True

In [26]:
bool(False)

False

In [27]:
bool(None)

False

In [28]:
bool(0)

False

In [29]:
bool("")

False

In [30]:
bool(())

False

In [31]:
bool([])

False

In [32]:
bool({})

False

In [34]:
print(True)

True

In [36]:
print(int(True))

1

In [38]:
print(int(False))

0

In [39]:
print(False-True)

-1

In [40]:
print(True-False)

1

In [42]:
print(True>False)

True

In [43]:
print(True<False)

False

In [44]:
print(True+False)

1

In [45]:
print(True**False)

1

In [46]:
print(False/True)

0.0

In [48]:
x = 200
print(isinstance(x, int))

True

In [49]:
def myFunction() :
  return True

print(myFunction())

True

In [50]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

# 8. Python Operators

Operators are used to perform operations on variables and values.

In [316]:
print(10 + 5)

15

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

Addition

In [317]:
x = 5
y = 3

print(x + y)

8

Subtraction

In [318]:
x = 5
y = 3

print(x - y)

2

Multiplication

In [ ]:
x = 5
y = 3

print(x * y)

Division

In [319]:
x = 12
y = 3

print(x / y)

4.0

Modulus

In [320]:
x = 5
y = 2

print(x % y)

1

Exponentiation

In [321]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

Floor division

In [322]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

=

In [323]:
x = 5

print(x)

5

+=

In [324]:
x = 5

x += 3

print(x)

8

-=

In [325]:
x = 5

x -= 3

print(x)

2

/=

In [326]:
x = 5

x /= 3

print(x)

1.6666666666666667

%=

In [327]:
x = 5

x%=3

print(x)

2

%=

In [328]:
x = 5

x//=3

print(x)

1

//=

In [329]:
x = 5

x//=3

print(x)

1

**=

In [330]:
x = 5

x **= 3

print(x)

125

&=

In [331]:
x = 5

x &= 3

print(x)

1

|=

In [332]:
x = 5

x |= 3

print(x)

7

^=

In [333]:
x = 5

x ^= 3

print(x)

6

'>>=	x >>= 3	x = x >> 3'

In [334]:
x = 5

x >>= 3

print(x)

0

<<=	x <<= 3	x = x << 3

and 	Returns True if both statements are true	x < 5 and  x < 10

In [335]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

or	Returns True if one of the statements is true	x < 5 or x < 4

In [339]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [ ]:
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [340]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

is 	Returns True if both variables are the same object	x is y

In [341]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

is not	Returns True if both variables are not the same object	x is not y

In [342]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

in 	Returns True if a sequence with the specified value is present in the object	x in y

In [343]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [344]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True


**& AND**   Sets each bit to 1 if both bits are 1

**| OR**  Sets each bit to 1 if one of two bits is 1

**^XOR**     Sets each bit to 1 if only one of two bits is 1
 
**~ NOT**     Inverts all the bits

**Zero fill left shift**         Shift left by pushing zeros in from the right and let the leftmost bits fall off

**Signed right shift**           Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [345]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Since tuples are indexed, they can have items with the same value.

In [351]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

To determine how many items a tuple has, use the len() function:

In [352]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [353]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple items can be of any data type:

In [354]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple with strings, integers and boolean values:

In [355]:
tuple1 = ("abc", 34, True, 40, "male")

From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [356]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

It is also possible to use the tuple() constructor to make a tuple.

In [1]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Print the second item in the tuple:

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Return the third, fourth, and fifth item:

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

This example returns the items from the beginning to, but NOT included, "kiwi":

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

This example returns the items from "cherry" and to the end:

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Convert the tuple into a list to be able to change it:

In [7]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [9]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [10]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [11]:
fruits = ("apple", "banana", "cherry")

In [12]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

You can loop through the tuple items by using a for loop.

In [14]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [15]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

To join two or more tuples you can use the + operator:

In [16]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply the fruits tuple by 2:

In [17]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Return the number of times the value 5 appears in the tuple:

In [18]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

Search for the first occurrence of the value 8, and return its position:

In [19]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [20]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Since lists are indexed, lists can have items with the same value:

In [22]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

Print the number of items in the list:

In [23]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

String, int and boolean data types:

In [24]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list with strings, integers and boolean values:

In [25]:
list1 = ["abc", 34, True, 40, "male"]

What is the data type of a list?

In [26]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

It is also possible to use the list() constructor when creating a new list.

Using the list() constructor to make a List:

In [27]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Print the second item of the list:

In [28]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc

Print the last item of the list:

In [29]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

This example returns the items from the beginning to, but NOT including, "kiwi":

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

This example returns the items from "cherry" to the end:

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

To change the value of a specific item, refer to the index number:

Change the second item:

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [34]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Change the second and third value by replacing it with one value:

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

Insert "watermelon" as the third item:

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

To add an item to the end of the list, use the append() method:

Using the append() method to append an item:

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

The remove() method removes the specified item.

Remove "banana":

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The pop() method removes the specified index.

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

Remove the last item:

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

Remove the first item:

In [43]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

Delete the entire list:

In [44]:
thislist = ["apple", "banana", "cherry"]
del thislist

The clear() method empties the list.

The list still remains, but it has no content.

Clear the list content:

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

You can loop through the list items by using a for loop:

Print all items in the list, one by one:

In [46]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Print all items by referring to their index number:

In [47]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

Print all items, using a while loop to go through all the index numbers

In [48]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

List Comprehension offers the shortest syntax for looping through lists:

A short hand for loop that will print all items in a list:

In [49]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [53]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [52]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [54]:
newlist = [expression for item in iterable if condition == True]

<class 'NameError'>: name 'iterable' is not defined

The return value is a new list, leaving the old list unchanged.

The condition is like a filter that only accepts the items that valuate to True

Only accept items that are not "apple":

In [58]:
newlist = [x for x in fruits if x != "apple"]

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

With no if statement:

In [56]:
newlist = [x for x in fruits]

The iterable can be any iterable object, like a list, tuple, set etc.

You can use the range() function to create an iterable:

In [57]:
newlist = [x for x in range(10)]

Same example, but with a condition:

Accept only numbers lower than 5:

In [59]:
newlist = [x for x in range(10) if x < 5]

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Set the values in the new list to upper case:

In [60]:
newlist = [x.upper() for x in fruits]

Set all values in the new list to 'hello':

In [61]:
newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

Return "orange" instead of "banana":

In [62]:
newlist = [x if x != "banana" else "orange" for x in fruits]

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

Sort the list numerically:

In [64]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort the list descending:

In [65]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Sort the list descending:

In [66]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

Sort the list based on how close the number is to 50:

In [67]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

Case sensitive sorting can give an unexpected result:

In [68]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

Perform a case-insensitive sort of the list:

In [69]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

Reverse the order of the list items:

In [71]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

Make a copy of a list with the copy() method:

In [73]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

Make a copy of a list with the list() method:

In [74]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [75]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [76]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [77]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

# Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are written with curly brackets.

In [79]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Duplicates Not Allowed.
Sets cannot have two items with the same value.

In [80]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

To determine how many items a set has, use the len() function.

In [81]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

String, int and boolean data types:

In [82]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set with strings, integers and boolean values:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [83]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

It is also possible to use the set() constructor to make a set.

In [84]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

Access Items-
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Loop through the set, and print the values:

In [85]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Check if "banana" is present in the set:

In [86]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Add Items-
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method

In [88]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

Add elements from tropical into thisset:

In [89]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'mango', 'papaya', 'banana', 'cherry'}

Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

Add elements of a list to at set:

In [90]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'apple', 'cherry', 'orange', 'banana'}

Remove Item-
To remove an item in a set, use the remove(), or the discard() method.

In [91]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [92]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [93]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

The clear() method empties the set:

In [94]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [96]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

<class 'NameError'>: name 'thisset' is not defined

You can loop through the set items by using a for loop:

In [100]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Join Two Sets-
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

The union() method returns a new set with all items from both sets:

In [98]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

The update() method inserts the items in set2 into set1:

In [99]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

Both union() and update() will exclude any duplicate items.

Keep ONLY the Duplicates - 
The intersection_update() method will keep only the items that are present in both sets.

In [102]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [103]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Keep All, But NOT the Duplicates- The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [105]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [106]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

# Python Dictionaries

In [107]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [108]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

Print the "brand" value of the dictionary:

In [109]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed- Dictionaries cannot have two items with the same key, Duplicate values will overwrite existing values:

In [111]:
hisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

To determine how many items a dictionary has, use the len() function:

In [112]:
print(len(thisdict))

3

The values in dictionary items can be of any data type:

In [113]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

type() - From Python's perspective, dictionaries are defined as objects with the data type 'dict':

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [116]:
x = thisdict.get("model")

There is also a method called get() that will give you the same result:

In [ ]:
Get the value of the "model" key:

The keys() method will return a list of all the keys in the dictionary.

In [117]:
x = thisdict.keys()

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [118]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

The values() method will return a list of all the values in the dictionary.

In [119]:
x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

Add a new item to the original dictionary, and see that the values list gets updated as well:

In [121]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

Get Items-
The items() method will return each item in a dictionary, as tuples in a list.

In [122]:
x = thisdict.items()

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

Make a change in the original dictionary, and see that the items list gets updated as well:

In [123]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Add a new item to the original dictionary, and see that the items list gets updated as well:

In [124]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

Check if Key Exists - To determine if a specified key is present in a dictionary use the in keyword:

In [125]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values- You can change the value of a specific item by referring to its key name:

Change the "year" to 2018:

In [126]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

Update Dictionary - 
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

Update the "year" of the car by using the update() method:

In [127]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Adding Items - Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

Update Dictionary - The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

Add a color item to the dictionary by using the update() method:

In [128]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

Removing Items- 
There are several methods to remove items from a dictionary:

The pop() method removes the item with the specified key name:

In [129]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [130]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

he del keyword removes the item with the specified key name:

In [131]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword removes the item with the specified key name:

In [132]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [133]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

<class 'NameError'>: name 'thisdict' is not defined

The clear() method empties the dictionary:

Loop Through a Dictionary- 
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
Print all key names in the dictionary, one by one:

In [135]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [136]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

Copy a Dictionary - 
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

Make a copy of a dictionary with the dict() function:

In [138]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
Nested Dictionaries-  A dictionary can contain dictionaries, this is called nested dictionaries.

Create a dictionary that contain three dictionaries:

In [141]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [140]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

Method	Description

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	Returns the value of the specified key

items()	Returns a list containing a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary

# Python If ... Else

Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [142]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

In [143]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

<class 'IndentationError'>: expected an indented block after 'if' statement on line 3 (<ipython-input-143-4276c1871af7>, line 4)

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [144]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

The else keyword catches anything which isn't caught by the preceding conditions.

In [145]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [146]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Short Hand If - 
If you have only one statement to execute, you can put it on the same line as the if statement.

In [147]:
if a > b: print("a is greater than b")

a is greater than b

Short Hand If ... Else

In [148]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [149]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

And - 
The and keyword is a logical operator, and is used to combine conditional statements:

Test if a is greater than b, AND if c is greater than a:

In [151]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or
The or keyword is a logical operator, and is used to combine conditional statements:

Test if a is greater than b, OR if a is greater than c:

In [152]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested If- 
You can have if statements inside if statements, this is called nested if statements.

In [153]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

The pass Statement - 
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [154]:
a = 33
b = 200

if b > a:
  pass

# Python  Loops

**The while Loop**
With the while loop we can execute a set of statements as long as a condition is true.

Print i as long as i is less than 6:

In [155]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

The break Statement- 
With the break statement we can stop the loop even if the while condition is true:

In [156]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement - 
With the continue statement we can stop the current iteration, and continue with the next:

Continue to the next iteration if i is 3:

In [158]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement - 
With the else statement we can run a block of code once when the condition no longer is true:

Print a message once the condition is false:

In [159]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Python For Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Print each fruit in a fruit list:

In [160]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

Loop through the letters in the word "banana":

In [163]:
for x in "banana":
  print(x)

b
a
n
a
n
a

The break Statement - 
With the break statement we can stop the loop before it has looped through all the items:

Exit the loop when x is "banana":

In [162]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
Exit the loop when x is "banana", but this time the break comes before the print:

In [164]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

The continue Statement -  With the continue statement we can stop the current iteration of the loop, and continue with the next:

Do not print banana:

In [165]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range() Function

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [166]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [167]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

Increment the sequence with 3 (default is 1):

In [169]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Print all numbers from 0 to 5, and print a message when the loop has ended:

In [170]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [171]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [172]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [173]:
for x in [0, 1, 2]:
  pass

# Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function

In Python a function is defined using the def keyword:

In [175]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [178]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Parameters or Arguments?
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

Number of Arguments
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
This function expects 2 arguments, and gets 2 arguments:

In [179]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

This function expects 2 arguments, but gets only 1:

In [180]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

<class 'TypeError'>: my_function() missing 1 required positional argument: 'lname'

Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

If the number of arguments is unknown, add a * before the parameter name:

In [181]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [182]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [183]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [184]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [185]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

Return Values

To let a function return a value, use the return statement:

In [186]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

The pass Statement

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [188]:
def myfunction():
  pass

Recursion-

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [189]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

The expression is executed and the result is returned:

Add 10 to argument a, and return the result:

In [190]:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

Multiply argument a with argument b and return the result:

In [191]:
x = lambda a, b : a * b
print(x(5, 6))

30

Summarize argument a, b, and c and return the result:

In [192]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

Why Use Lambda Functions?


The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [193]:
def myfunc(n):
  return lambda a : a * n

Use that function definition to make a function that always doubles the number you send in:

In [194]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [195]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

Or, use the same function definition to make both functions, in the same program:

In [197]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python Arrays

Create an array containing car names:

In [199]:
cars = ["Ford", "Volvo", "BMW"]

What is an Array?

An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

Access the Elements of an Array
You refer to an array element by referring to the index number.

In [ ]:
Get the value of the first array item:

In [202]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)

Ford

In [ ]:
Modify the value of the first array item:

In [203]:
cars = ["Ford", "Volvo", "BMW"]

cars[0] = "Toyota"

print(cars)

['Toyota', 'Volvo', 'BMW']

The Length of an Array

Use the len() method to return the length of an array (the number of elements in an array).

In [205]:
cars = ["Ford", "Volvo", "BMW"]

x = len(cars)

print(x)

3

Looping Array Elements

You can use the for in loop to loop through all the elements of an array.

In [206]:
for x in cars:
  print(x)

Ford
Volvo
BMW

Adding Array Elements

You can use the append() method to add an element to an array.

In [208]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

Removing Array Elements

You can use the pop() method to remove an element from the array.

In [ ]:
Delete the second element of the cars array:

In [209]:
cars = ["Ford", "Volvo", "BMW"]

cars.pop(1)

print(cars)

['Ford', 'BMW']

You can also use the remove() method to remove an element from the array.

Delete the element that has the value "Volvo":

In [214]:
cars = ["Ford", "Volvo", "BMW"]

cars.remove("Volvo")

print(cars)

['Ford', 'BMW']

Array Methods

Python has a set of built-in methods that you can use on lists/arrays.

Method	Description

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

# Python Classes and Objects

Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

Create a Class- 
To create a class, use the keyword class:

In [215]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

Create Object

Now we can use the class named MyClass to create objects:

In [216]:
p1 = MyClass()
print(p1.x)

5

The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

Create a class named Person, use the __init__() function to assign values for name and age:

In [217]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

The __str__() Function
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

The string representation of an object WITHOUT the __str__() function:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

In [ ]:
The string representation of an object WITH the __str__() function:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
Insert a function that prints a greeting, and execute it on the p1 object:

In [220]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

The self Parameter

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Modify Object Properties

You can modify properties on objects like this:

In [223]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

Delete Object Properties

You can delete properties on objects by using the del keyword:

In [224]:
del p1.age

In [225]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

<class 'AttributeError'>: 'Person' object has no attribute 'age'

In [ ]:
Delete Objects

You can delete objects by using the del keyword:

In [226]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

<class 'NameError'>: name 'p1' is not defined

The pass Statement

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [227]:
class Person:
  pass

# having an empty class definition like this, would raise an error without the pass statement

**Python Inheritance**

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

Create a Parent Class

Any class can be a parent class, so the syntax is the same as creating any other class:

Create a class named Person, with firstname and lastname properties, and a printname method:

In [228]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

Create a Child Class

To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

Create a class named Student, which will inherit the properties and methods from the Person class:

In [229]:
class Student(Person):
  pass

Now the Student class has the same properties and methods as the Person class.

Use the Student class to create an object, and then execute the printname method:

In [231]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

'Add the __init__() Function'

So far we have created a child class that inherits the properties and methods from its parent.

We want to add the __init__() function to the child class (instead of the pass keyword).

Add the __init__() function to the Student class:

In [237]:
class Student(Person):
  def __init__(self, fname, lname):

<class 'IndentationError'>: expected an indented block after function definition on line 2 (<ipython-input-237-b7d7333a4222>, line 2)

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

The child's __init__() function overrides the inheritance of the parent's __init__() function.

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

In [238]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

Now we have successfully added the __init__() function, and kept the inheritance of the parent class, and we are ready to add functionality in the __init__() function.

Use the super() Function
Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

In [242]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.
Add a property called graduationyear to the Student class:

In [241]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

Add a method called welcome to the Student class:

In [244]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

**Python Iterators**

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

Return an iterator from a tuple, and print each value:

In [245]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Even strings are iterable objects, and can return an iterator:

Strings are also iterable objects, containing a sequence of characters:

In [246]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

Looping Through an Iterator

We can also use a for loop to iterate through an iterable object:

Iterate the values of a tuple:

In [247]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

Iterate the characters of a string:

In [248]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

The for loop actually creates an iterator object and executes the next() method for each loop.

Create an Iterator

To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

StopIteration

The example above would continue forever if you had enough next() statements, or if it was used in a for loop.

To prevent the iteration to go on forever, we can use the StopIteration statement.

In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

Stop after 20 iterations:

In [251]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Python Scope**

A variable is only available from inside the region it is created. This is called scope.

Local Scope

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

A variable created inside a function is available inside that function:

In [254]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

Function Inside Function

As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:

In [ ]:
The local variable can be accessed from a function within the function:

In [255]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

Global Scope

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

A variable created outside of a function is global and can be used by anyone:

In [256]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

Naming Variables

If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):

The function will print the local x, and then the code will print the global x:

In [257]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

Global Keyword

If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

The global keyword makes the variable global.

If you use the global keyword, the variable belongs to the global scope:

In [259]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

Also, use the global keyword if you want to make a change to a global variable inside a function.

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [260]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

# Python Modules

What is a Module?

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

Create a Module

To create a module just save the code you want in a file with the file extension .py:

In [270]:
def greeting(name):
  print("Hello, " + name)

Use a Module

Now we can use the module we just created, by using the import statement:

In [273]:
import mymodule

mymodule.greeting("Jonathan")

<class 'ModuleNotFoundError'>: No module named 'mymodule'

# Python Datetime

Python Dates

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

Import the datetime module and display the current date:

In [274]:
import datetime

x = datetime.datetime.now()
print(x)

2022-11-02 22:26:03.165000

Date Output
When we execute the code from the example above the result will be:

2022-11-02 22:24:48.301976
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

Return the year and name of weekday:

In [275]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Wednesday

Creating Date Objects

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [276]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

The strftime() Method

The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

Display the name of the month:

In [277]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

%a	Weekday, short version

In [278]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))

Wed

%A	Weekday, full version

In [279]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))

Wednesday

%w	Weekday as a number 0-6, 0 is Sunday

In [280]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%w"))

3

%d	Day of month 01-31

In [281]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%d"))

02

%b	Month name, short version

In [282]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%b"))

Nov

%B	Month name, full version

In [283]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))

November

%m	Month as a number 01-12

In [284]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%m"))

11

%y	Year, short version, without century

In [285]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%y"))

22

%Y	Year, full version

In [286]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Y"))

2022

%H	Hour 00-23

import datetime

x = datetime.datetime.now()

print(x.strftime("%H"))

%I	Hour 00-12

In [288]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%I"))

10

%p AM/PM

In [291]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%p"))

PM

%M	Minute 00-59

In [292]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%M"))

34

%S	Second 00-59

In [293]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%S"))

02

%f	Microsecond 000000-999999

import datetime

x = datetime.datetime.now()

print(x.strftime("%f"))

%z	UTC offset

%Z	Timezone

%j	Day number of year 001-366

In [295]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%j"))

306

%U	Week number of year, Sunday as the first day of week, 00-53

In [299]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%U"))

44

%W	Week number of year, Monday as the first day of week, 00-53

In [298]:
import datetime

x = datetime.datetime(2018, 5, 31)

print(x.strftime("%W"))

22

%c	Local version of date and time

In [300]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Wed Nov 02 22:37:43 2022

%C	Century

In [301]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%C"))

20

%x	Local version of date

In [302]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%x"))

11/02/22

%X	Local version of time

In [303]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%X"))

22:38:45

%%	A % character

In [304]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%%"))

%

%G	ISO 8601 year

In [305]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%G"))

2022

%u	ISO 8601 weekday (1-7)

In [306]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%u"))

3

%V	ISO 8601 weeknumber (01-53)

In [307]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%V"))

44

3. **Expressions/Mathematical Operations And Variables** -

In [51]:
43+60+16+41

160

In [52]:
50-60

-10

In [53]:
5*5

25

In [54]:
25/5

5.0

In [55]:
25/6

4.166666666666667

In [56]:
25//6

4

In [57]:
2*60+30

150

In [58]:
30+2*60

150

In [60]:
(30+2)*60

1920

In [61]:
x=5
y=1

In [62]:
x+y

6

In [63]:
x=160

In [64]:
x=x/60

In [70]:
x

2.6666666666666665

In [71]:
type(x)

float

In [72]:
total_min=42+45+98

In [75]:
total_hour=total_min//60

In [76]:
total_hour

3

4. **String And Index** - String can be spaces,digits or special character.

In [77]:
"1 2  3 4 5"

'1 2  3 4 5'

In [78]:
"@#$%^&*!"

'@#$%^&*!'

In [79]:
Name="Michael Jackson"

In [80]:
Name[0]

'M'

In [83]:
Name[0:4]

'Mich'

In [84]:
Name[-1]

'n'

In [85]:
Name[8:12]

'Jack'

In [87]:
Name[::2]

'McalJcsn'

In [88]:
Name[0:5:2]

'Mca'

In [89]:
len(Name)

15

In [90]:
Statement=Name+'is the best'

In [91]:
Statement

'Michael Jacksonis the best'

In [92]:
3*Statement

'Michael Jacksonis the bestMichael Jacksonis the bestMichael Jacksonis the best'

In [93]:
Name=Name+' is a danser'

In [115]:
Name

'Michael Jacksonis a danser'

In [111]:
print('Michael Jackson \n is a danser')

Michael Jackson
 is a danser

In [112]:
print('Michael Jackson \\ is a danser')

Michael Jackson \ is a danser

In [113]:
A=Name.upper()

In [114]:
A

'MICHAEL JACKSONIS A DANSER'

In [106]:
B=A.lower()

In [107]:
B

'michael jacksonis a danser'

In [108]:
C=A.replace('MICHAEL','JANET')

In [109]:
C

'JANET JACKSONIS A DANSER'

In [118]:
C.find('er')

-1

In [120]:
C.find('JANET')

0

5. **Touples**

In [121]:
Ratings=(10,9,6,5,10,8,9,6,2)

In [122]:
Touple1=("Disco",10,1.2)

In [123]:
Touple1[0]

'Disco'

In [124]:
Touple2=Touple1+("hard rock",10)

In [125]:
Touple2

('Disco', 10, 1.2, 'hard rock', 10)

In [126]:
Touple2[0:3]

('Disco', 10, 1.2)

In [127]:
Touple2[3:5]

('hard rock', 10)

In [130]:
len(Touple2)

5

In [131]:
Ratings2=Ratings

In [138]:
Ratings=(2,10,1)

In [133]:
Ratings2

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [135]:
Ratings

(2, 10, 1)

In [136]:
RatingsSorted=sorted(Ratings)

In [137]:
RatingsSorted

[1, 2, 10]

In [139]:
NT=(1,2,("POP","ROCK"),(3,4),("DISCO",(1,2)))

In [140]:
NT[2]

('POP', 'ROCK')

In [141]:
NT[2][0]

'POP'

In [142]:
NT[4][1][0]

1

6. **LISTS**

In [143]:
L=["MICHEL JACKSON",10.1,1982,[1,2],('A',1)]

In [144]:
L[0]

'MICHEL JACKSON'

In [145]:
L[3:5]

[[1, 2], ('A', 1)]

In [146]:
L1=L+["POP",10]

In [147]:
L1

['MICHEL JACKSON', 10.1, 1982, [1, 2], ('A', 1), 'POP', 10]

In [150]:
L1.extend([11,12])

In [151]:
L1

['MICHEL JACKSON', 10.1, 1982, [1, 2], ('A', 1), 'POP', 10, 11, 12]

In [153]:
L1.append(["13","14"])

In [154]:
L1

['MICHEL JACKSON',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14']]

In [155]:
del(L1[0])

In [156]:
L1

[10.1, 1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14']]

In [157]:
L1.extend(['MICHEL JACKSON'])

In [158]:
L1

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [159]:
'MICHEL JACKSON'.split()

['MICHEL', 'JACKSON']

In [160]:
L1

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [163]:
"A,B,C,D,E".split(",")

['A', 'B', 'C', 'D', 'E']

In [164]:
L2=L1

In [165]:
L2

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [166]:
del(L2[0])

In [167]:
L2

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [168]:
L1

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [169]:
L2=L1[:]

In [170]:
L2[0]="banana"

In [171]:
L2

['banana', [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [172]:
L1

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

7. **Dictionaries**

In [179]:
dict={"Thriller":1982,"black in black":1980,"The dark side of the moon":1973,"The Bodyguard":1992}

In [182]:
dict["Thriller"]

1982

In [186]:
dict['graduation']=2007

In [187]:
dict

{'Thriller': 1982,
 'black in black': 1980,
 'The dark side of the moon': 1973,
 'The Bodyguard': 1992,
 'graduation': 2007}

In [188]:
del(dict['Thriller'])

In [189]:
dict

{'black in black': 1980,
 'The dark side of the moon': 1973,
 'The Bodyguard': 1992,
 'graduation': 2007}

In [190]:
'The Bodyguard' in dict

True

In [191]:
'starboy' in dict

False

In [192]:
dict.keys()

dict_keys(['black in black', 'The dark side of the moon', 'The Bodyguard', 'graduation'])

In [193]:
dict.values()

dict_values([1980, 1973, 1992, 2007])

8. **SETS**

- Sets are type of collection.This Means like list and Touples you can input different python types.
- Unlike List and touples they are unordered,ie. Sets do not record element position.
- Sets only have unique elements this means there is only one of a particular element is a Set.
- You can convert list to a set.

In [195]:
set1={"pop","rock","soul","hard rock","rock","R&B","rock","disco"}

In [196]:
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [197]:
L5=[1,2,2,3,4]

In [200]:
L5

[1, 2, 2, 3, 4]

In [198]:
S1=set(L5)

In [199]:
S1

{1, 2, 3, 4}

In [201]:
A={'Thriller','Back in black','AC/DC'}

In [202]:
A.add("NSYNC")

In [203]:
A

{'AC/DC', 'Back in black', 'NSYNC', 'Thriller'}

In [204]:
A.remove('Thriller')

In [205]:
A

{'AC/DC', 'Back in black', 'NSYNC'}

In [3]:
album_set_1={'Thriller','Back in black','Moon'}

In [4]:
album_set_2={'Thriller','Back in black','NSYNC'}

In [5]:
album_set_3=album_set_1&album_set_2

In [6]:
album_set_3

{'Back in black', 'Thriller'}

In [8]:
album_set_4=album_set_1.union(album_set_2)

In [9]:
album_set_4

{'Back in black', 'Moon', 'NSYNC', 'Thriller'}

In [13]:
album_set_4.issubset(album_set_1)

False

In [14]:
album_set_1.issubset(album_set_4)

True

9. **Conditions and Branching**

In [15]:
A=6

In [16]:
A==6

True

In [17]:
A==7

False

In [25]:
A>7

False

In [26]:
A<7

True

In [28]:
A!=7

True

In [29]:
A!=6

False

In [30]:
"LOVE"=="HATE"

False

In [31]:
"LOVE"!="HATE"

True

In [61]:
age=19

In [60]:
if (age>18):
    print("you can enter")
else:
    print("move on")

you can enter

In [48]:
if (age>18):
    print("you can enter")
elif (age>16):
    print("medical test")
else:
    print("move on")

medical test

In [64]:
if age<18 or age>16:
    print ("ok")
else:
    print("not ok")

ok

In [65]:
if age<18 and age>16:
    print ("ok")
else:
    print("not ok")

not ok

10. **Loops**

In [69]:
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [70]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [71]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

# Python Math

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [308]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

he abs() function returns the absolute (positive) value of the specified number

In [309]:
x = abs(-7.25)

print(x)

7.25

The pow(x, y) function returns the value of x to the power of y (xy).

Return the value of 4 to the power of 3 (same as 4 * 4 * 4):

In [311]:
x = pow(4, 3)

print(x)

64

Python has a built-in module that you can use for mathematical tasks.

The math module has a set of methods and constants.

math.acos()	Returns the arc cosine of a number

In [312]:
# Import math Library
import math

# Return the arc cosine of numbers
print(math.acos(0.55))
print(math.acos(-0.55))
print(math.acos(0))
print(math.acos(1))
print(math.acos(-1))

0.9884320889261531
2.15316056466364
1.5707963267948966
0.0
3.141592653589793

math.acosh()	Returns the inverse hyperbolic cosine of a number

In [313]:
# Import math Library
import math

# Return the inverse hyperbolic cosine of different numbers
print (math.acosh(7))
print (math.acosh(56))
print (math.acosh(2.45))
print (math.acosh(1))

2.6339157938496336
4.718419142372879
1.5447131178707394
0.0

math.asin()	Returns the arc sine of a number

In [314]:
# Import math Library
import math

# Return the arc sine of numbers
print(math.asin(0.55))
print(math.asin(-0.55))
print(math.asin(0))
print(math.asin(1))
print(math.asin(-1))

0.5823642378687435
-0.5823642378687435
0.0
1.5707963267948966
-1.5707963267948966

The math.asin() method returns the arc sine of a number.

Note: The parameter passed in math.asin() must lie between -1 to 1.

Tip: math.asin(1) will return the value of PI/2, and math.asin(-1) will return the value of -PI/2.

Python math.asinh() Method - Return the inverse hyperbolic sine of different numbers:
The math.asinh() method returns the inverse hyperbolic sine of a number.

In [315]:
# Import math Library
import math

# Return the inverse hyperbolic sine of numbers
print(math.asinh(7))
print(math.asinh(56))
print(math.asinh(2.45))
print(math.asinh(1))

2.644120761058629
4.718578581151767
1.6284998192841909
0.881373587019543

Python math.atan() Method 

Return the arc tangent of different numbers:
    
The math.atan() method returns the arc tangent of a number (x) as a numeric value between -PI/2 and PI/2 radians.

Arc tangent is also defined as an inverse tangent function of x, where x is the value of the arc tangent is to be calculated.

In [317]:
#Import math Library
import math

#fReturn the arc tangent of different numbers
print (math.atan(0.39))
print (math.atan(67))
print (math.atan(-21))

0.37185607384858127
1.5558720618048116
-1.5232132235179132

Python math.atan2() Method - Return the arc tangent of y/x in radians: - The math.atan2() method returns the arc tangent of y/x, in radians. Where x and y are the coordinates of a point (x,y).

The returned value is between PI and -PI.

In [319]:
# Import math Library
import math

# Return the arc tangent of y/x in radians
print(math.atan2(8, 5))
print(math.atan2(20, 10))
print(math.atan2(34, -7))

1.0121970114513341
1.1071487177940904
1.773841544048362

Python math.atanh() Method - Find the hyperbolic arctangent value of different numbers: - The math.atanh() method returns the inverse hyperbolic tangent of a number.The parameter passed in math.atanh() must lie between -0.99 to 0.99.

In [320]:
#Import math Library
import math

#print the hyperbolic arctangent of different numbers
print(math.atanh(0.59))
print(math.atanh(-0.12))

0.6776660677579618
-0.12058102840844404

Python math.ceil() Method - Round a number upward to its nearest integer: - The math.ceil() method rounds a number UP to the nearest integer, if necessary, and returns the result.

Tip: To round a number DOWN to the nearest integer, look at the math.floor() method.

In [321]:
# Import math library
import math

# Round a number upward to its nearest integer
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

2
6
-5
23
10

Python math.comb() Method - Find the total number of possibilities to choose k things from n items: - The math.comb() method returns the number of ways picking k unordered outcomes from n possibilities, without repetition, also known as combinations.

Note: The parameters passed in this method must be positive integers.

Note: If the value of k is greater than the value of n it will return 0 as a result.

Note: If the parameters are negative, a ValueError occurs. If the parameters are not integers, a TypeError occurs

In [322]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of possibilities to choose
k = 5

# Print total number of possible combinations
print (math.comb(n, k))

21

Python math.copysign() Method -Return the value of the first parameter and the sign of the second parameter: - The math.copysign() method returns a float consisting of the value of the first parameter and the sign(+/-) of the second parameter.

In [324]:
#Import math Library
import math

#Return the value of the first parameter and the sign of the second parameter
print(math.copysign(4, -1))
print(math.copysign(-8, 97.21))
print(math.copysign(-43, -76))

-4.0
8.0
-43.0

Python math.cos() Method. Find the cosine of different numbers: The math.cos() method returns the cosine of a number.

In [325]:
# Import math Library
import math

# Return the cosine of different numbers
print (math.cos(0.00))
print (math.cos(-1.23))
print (math.cos(10))
print (math.cos(3.14159265359))

1.0
0.3342377271245026
-0.8390715290764524
-1.0

Python math.cosh() Method - Find the hyperbolic cosine of different numbers: - The math.cosh() method returns the hyperbolic cosine of a number (equivalent to (exp(number) + exp(-number)) / 2).

In [326]:
# Import math Library
import math

# Return the hyperbolic cosine of different numbers
print (math.cosh(1))
print (math.cosh(8.90))
print (math.cosh(0))
print (math.cosh(1.52))

1.5430806348152437
3665.986837772461
1.0
2.3954685410471868

Python math.degrees() Method -- The mmath.degrees() method converts an angle from radians to degrees.

Tip: PI (3.14..) radians are equal to 180 degrees, which means that 1 radian is equal to 57.2957795 degrees.

Tip: See also math.radians() to convert a degree value into radians.

In [327]:
# Import math Library
import math

# Convert from radians to degrees:
print (math.degrees(8.90))
print (math.degrees(-20))
print (math.degrees(1))
print (math.degrees(90))

509.9324376664327
-1145.9155902616465
57.29577951308232
5156.620156177409

Python math.dist() Method -  Find the Euclidean distance between one and two dimensional points:The math.dist() method returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point.

Note: The two points (p and q) must be of the same dimensions.

In [328]:
# Import math Library
import math

p = [3]
q = [1]

# Calculate Euclidean distance
print (math.dist(p, q))

p = [3, 3]
q = [6, 12]

# Calculate Euclidean distance
print (math.dist(p, q))

2.0
9.486832980505138

Python math.erf() Method - Print error function for different numbers: The math.erf() method returns the error function of a number.

This method accepts a value between - inf and + inf, and returns a value between - 1 to + 1.

In [329]:
# Import math Library
import math

# Print error function for different numbers
print (math.erf(0.67))
print (math.erf(1.34))
print (math.erf(-6))

0.6566277023003051
0.9419137152583653
-1.0

Calculate the mathematical error function of the same number, positive and negative:

In [330]:
print (math.erf(1.28))
print (math.erf(-1.28))

0.9297341930135782
-0.9297341930135782

Python math.erfc() Method - Print the complementary error function for different numbers: -The math.erfc() method returns the complementary error function of a number.

This method accepts a value between - inf and + inf, and returns a value between 0 and 2.

In [331]:
# Import math Library
import math

# Print complementary error function for different numbers
print (math.erfc(0.67))
print (math.erfc(1.34))
print (math.erfc(-6))

0.3433722976996949
0.058086284741634665
2.0

Python math.exp() Method - The math.exp() method returns E raised to the power of x (Ex).

'E' is the base of the natural system of logarithms (approximately 2.718282) and x is the number passed to it.

In [332]:
#Import math Library
import math

#find the exponential of the specified value
print(math.exp(65))
print(math.exp(-6.89))

1.6948892444103338e+28
0.0010179138409954387

Python math.expm1() Method - Find the exponential value of a number - 1: The math.expm1() method returns Ex - 1.

'E' is the base of the natural system of logarithms (approximately 2.718282) and x is the number passed to it.

This function is more accurate than calling math.exp() and subtracting 1.

In [333]:
#Import math Library
import math

#Return the exponential value of a number - 1
print(math.expm1(32))
print(math.expm1(-10.89))

78962960182679.69
-0.9999813562576685

Python math.fabs() Method -he math.fabs() method returns the absolute value of a number, as a float.

Absolute denotes a non-negative number. This removes the negative sign of the value if it has any.

Unlike Python abs(), this method always converts the value to a float value.

In [334]:
#Import math Library
import math

#Print absolute values from numbers
print(math.fabs(-66.43))
print(math.fabs(-7))

66.43
7.0

Python math.factorial() Method - ind the factorial of a number: The math.factorial() method returns the factorial of a number.

Note: This method only accepts positive integers.

The factorial of a number is the sum of the multiplication, of all the whole numbers, from our specified number down to 1. For example, the factorial of 6 would be 6 x 5 x 4 x 3 x 2 x 1 = 720

In [335]:
#Import math Library
import math

#Return factorial of a number
print(math.factorial(9))
print(math.factorial(6))
print(math.factorial(12))

362880
720
479001600

Python math.floor() Method -Round numbers down to the nearest integer: The math.floor() method rounds a number DOWN to the nearest integer, if necessary, and returns the result.

Tip: To round a number UP to the nearest integer, look at the math.ceil() method.

In [336]:
# Import math library
import math

# Round numbers down to the nearest integer
print(math.floor(0.6))
print(math.floor(1.4))
print(math.floor(5.3))
print(math.floor(-5.3))
print(math.floor(22.6))
print(math.floor(10.0))

0
1
5
-6
22
10

Python math.fmod() Method - Return the remainder of x/y: - The math.fmod() method returns the remainder (modulo) of x/y.

In [337]:
# Import math Library
import math

# Return the remainder of x/y
print(math.fmod(20, 4))
print(math.fmod(20, 3))
print(math.fmod(15, 6))
print(math.fmod(-10, 3))
print(math.fmod(0, 0))

0.0
2.0
3.0
-1.0

<class 'ValueError'>: math domain error

Python math.frexp() Method - The math.frexp() method returns the mantissa and the exponent of a specified number, as a pair (m,e).

The mathematical formula for this method is: number = m * 2**e.

In [338]:
#Import math Library
import math

#Return mantissa and exponent of numbers
print(math.frexp(4))
print(math.frexp(-4))
print(math.frexp(7))

(0.5, 3)
(-0.5, 3)
(0.875, 3)

Python math.fsum() Method- The math.fsum() method returns the sum of all items in any iterable (tuples, arrays, lists, etc.).

In [339]:
# Import math Library
import math

# Print the sum of all items
print(math.fsum([1, 2, 3, 4, 5]))
print(math.fsum([100, 400, 340, 500]))
print(math.fsum([1.7, 0.3, 1.5, 4.5]))

15.0
1340.0
8.0

Python math.gamma() Method - nd the gamma function of different numbers:

In [341]:
# Import math Library
import math

# Return the gamma function for different numbers
print(math.gamma(-0.1))
print(math.gamma(8))
print(math.gamma(1.2))
print(math.gamma(80))
print(math.gamma(-0.55))

-10.686287021193193
5040.0
0.9181687423997604
8.946182130782976e+116
-3.578429819277059

Python math.gcd() Method - Find the greatest common divisor of the two integers:

In [342]:
#Import math Library
import math

#find the  the greatest common divisor of the two integers
print (math.gcd(3, 6))
print (math.gcd(6, 12))
print (math.gcd(12, 36))
print (math.gcd(-12, -36))
print (math.gcd(5, 12))
print (math.gcd(10, 0))
print (math.gcd(0, 34))
print (math.gcd(0, 0))

3
6
12
12
1
10
34
0

The math.gcd() method returns the greatest common divisor of the two integers int1 and int2.

GCD is the largest common divisor that divides the numbers without a remainder.

GCD is also known as the highest common factor (HCF).

Tip: gcd(0,0) returns 0.

Python math.hypot() Method - Find the hypotenuse of a right-angled triangle where perpendicular and base are known: The math.hypot() method returns the Euclidean norm. The Euclidian norm is the distance from the origin to the coordinates given.

Prior Python 3.8, this method was used only to find the hypotenuse of a right-angled triangle: sqrt(x*x + y*y).

From Python 3.8, this method is used to calculate the Euclidean norm as well. For n-dimensional cases, the coordinates passed are assumed to be like (x1, x2, x3, ..., xn). So Euclidean length from the origin is calculated by sqrt(x1*x1 + x2*x2 +x3*x3 .... xn*xn).

In [343]:
#Import math Library
import math

#set perpendicular and base
parendicular = 10
base = 5

#print the hypotenuse of a right-angled triangle
print(math.hypot(parendicular, base))

11.180339887498949

Python math.isclose() Method - Check whether two values are close to each other, or not:  The math.isclose() method checks whether two values are close to each other, or not. Returns True if the values are close, otherwise False.

This method uses a relative or absolute tolerance, to see if the values are close.

Tip: It uses the following formula to compare the values: abs(a-b) <= max(rel_tol * max(abs(a), abs(b)), abs_tol)

In [344]:
#Import math Library
import math

#compare the closeness of two values
print(math.isclose(1.233, 1.4566))
print(math.isclose(1.233, 1.233))
print(math.isclose(1.233, 1.24))
print(math.isclose(1.233, 1.233000001))

False
True
False
True

Python math.isfinite() Method - Check whether a value is finite or not:

The math.isfinite() method checks whether a number is finite or not.

This method returns True if the specified number is a finite number, otherwise it returns False.

In [345]:
# Import math Library
import math

# Check whether the values are finite or not
print(math.isfinite(2000))
print(math.isfinite(-45.34))
print(math.isfinite(+45.34))
print(math.isfinite(math.inf))
print(math.isfinite(float("nan")))
print(math.isfinite(float("inf")))
print(math.isfinite(float("-inf")))
print(math.isfinite(-math.inf))
print(math.isfinite(0.0))

True
True
True
False
False
False
False
False
True

Python math.isinf() Method - Check whether a value is infinity or not:

In [346]:
# Import math Library
import math

# Check whether the values are infinite or not
print(math.isinf(56))
print(math.isinf(-45.34))
print(math.isinf(+45.34))
print(math.isinf(math.inf))
print(math.isinf(float("nan")))
print(math.isinf(float("inf")))
print(math.isinf(float("-inf")))
print(math.isinf(-math.inf))

False
False
False
True
False
True
True
True

Python math.isnan() Method- Check whether a value is NaN or not:

In [347]:
# Import math Library
import math

# Check whether some values are NaN or not
print (math.isnan (56))
print (math.isnan (-45.34))
print (math.isnan (+45.34))
print (math.isnan (math.inf))
print (math.isnan (float("nan")))
print (math.isnan (float("inf")))
print (math.isnan (float("-inf")))
print (math.isnan (math.nan))

False
False
False
False
True
False
False
True

Python math.isqrt() Method - Round a square root number downwards to the nearest integer:

In [348]:
# Import math Library
import math

# Print the square root of different numbers
print (math.sqrt(10))
print (math.sqrt (12))
print (math.sqrt (68))
print (math.sqrt (100))

# Round square root downward to the nearest integer
print (math.isqrt(10))
print (math.isqrt (12))
print (math.isqrt (68))
print (math.isqrt (100))

3.1622776601683795
3.4641016151377544
8.246211251235321
10.0
3
3
8
10

Python math.ldexp() Method - The math.ldexp() method returns  x * (2**i) of the given numbers x and i, which is the inverse of math.frexp().

In [349]:
#Import math Library
import math

#Return value of x * (2**i)
print(math.ldexp(9, 3))
print(math.ldexp(-5, 2))
print(math.ldexp(15, 2))

72.0
-20.0
60.0

Python math.lgamma() Method - Find the log gamma value of different numbers: The math.lgamma() method returns the natural logarithm gamma value of a number.

Tip: We can find also find the log gamma value by using the math.gamma() method to find the gamma value, and then use the math.log() method to calculate the log of that value.

Tip: The gamma value is equal to factorial(x-1).

In [350]:
# Import math Library
import math

# Return the log gamma value of different numbers
print (math.lgamma(7))
print (math.lgamma(-4.2))

6.579251212010102
-1.8075166614192908

In [ ]:
Python math.log() Method - Find the natural logarithm of different numbers

In [351]:
# Import math Library
import math

# Return the natural logarithm of different numbers
print(math.log(2.7183))
print(math.log(2))
print(math.log(1))

1.0000066849139877
0.6931471805599453
0.0

Python math.log10() Method - Find the base-10 logarithm of different numbers

In [352]:
# Import math Library
import math

# Return the base-10 logarithm of different numbers
print(math.log10(2.7183))
print(math.log10(2))
print(math.log10(1))

0.43429738512450866
0.3010299956639812
0.0

Python math.log1p() Method - Find the log(1+number) for different numbers

In [353]:
# Import math Library
import math

# Return the log(1+number) for different numbers
print(math.log1p(2.7183))
print(math.log1p(2))
print(math.log1p(1))

1.3132665745863341
1.0986122886681096
0.6931471805599453

Python math.log2() Method - Find the base-2 logarithm of different numbers

In [355]:
# Import math Library
import math

# Return the base-2 logarithm of different numbers
print(math.log2(2.7183))
print(math.log2(2))
print(math.log2(1))

1.4427046851812222
1.0
0.0

Python math.perm() Method - Find the number of ways to choose k things from n items:

In [359]:
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of items to choose
k = 5

# Print the number of ways to choose k items from n items
print (math.perm(n, k))

2520

Python math.pow() Method - Find the value of 9 raised to the power of 3:

In [358]:
# Import math Library
import math

#Return the value of 9 raised to the power of 3
print(math.pow(9, 3))

729.0

The math.pow() method returns the value of x raised to power y.

If x is negative and y is not an integer, it returns a ValueError.

This method converts both arguments into a float.

Tip: If we use math.pow(1.0,x) or math.pow(x,0.0), it will always returns 1.0.

Python math.prod()  - Return the product of the elements from the given iterable:

In [361]:
# Import math Library
import math

sequence = (2, 2, 2)

#Return the product of the elements
print(math.prod(sequence))

8

Python math.radians() Method - Convert different degrees into radians:

In [362]:
# Import math Library
import math

# Convert different degrees into radians
print(math.radians(180))
print(math.radians(100.03))
print(math.radians(-20))

3.141592653589793
1.7458528507699278
-0.3490658503988659

Python math.remainder() Method - Return the remainder of x with respect to y:

In [363]:
# Import math Library
import math

# Return the remainder of x/y
print (math.remainder(9, 2))
print (math.remainder(9, 3))
print (math.remainder(18, 4))

1.0
0.0
2.0

Python math.sin() Method -Find the sine of different numbers:

In [364]:
# Import math Library
import math

# Return the sine of different values
print (math.sin(0.00))
print (math.sin(-1.23))
print (math.sin(10))
print (math.sin(math.pi))
print (math.sin(math.pi/2))

0.0
-0.9424888019316975
-0.5440211108893698
1.2246467991473532e-16
1.0

Python math.sinh() Method - Find the hyperbolic sine of different numbers:

In [365]:
# Import math Library
import math

# Return the hyperbolic sine of different values
print(math.sinh(0.00))
print(math.sinh(-23.45))
print(math.sinh(23))
print(math.sinh(1.00))
print(math.sinh(math.pi))

0.0
-7641446994.979367
4872401723.124452
1.1752011936438014
11.548739357257748

Python math.sqrt() Method - Find the square root of different numbers:

In [366]:
# Import math Library
import math

# Return the square root of different numbers
print (math.sqrt(9))
print (math.sqrt(25))
print (math.sqrt(16))

3.0
5.0
4.0

Python math.tan() Method - Find the tangent of different numbers (angles):

In [368]:
# Import math Library
import math

# Return the tangent of different numbers
print (math.tan(90))
print (math.tan(-90))
print (math.tan(45))
print (math.tan(60))

-1.995200412208242
1.995200412208242
1.6197751905438615
0.320040389379563

Python math.tanh() Method - Find the hyperbolic tangent of different numbers:

In [369]:
# Import math Library
import math

# Return the hyperbolic tangent of different numbers
print(math.tanh(8))
print(math.tanh(1))
print(math.tanh(-6.2))

0.9999997749296758
0.7615941559557649
-0.9999917628565104

Python math.trunc() Method - Find the integer part of different numbers:

In [370]:
# Import math Library
import math

# Return the truncated integer parts of different numbers
print(math.trunc(2.77))
print(math.trunc(8.32))
print(math.trunc(-99.29))

2
8
-99

Python math.e Constant - Print the Euler's number:

In [371]:
# Import math Library
import math

# Print the value of E
print (math.e)

2.718281828459045

Python math.inf Constant - Print the positive and negative infinity:  -- he math.inf constant returns a floating-point positive infinity.

For negative infinity, use -math.inf.

The inf constant is equivalent to float('inf').

In [372]:
# Import math Library
import math

# Print the positive infinity
print (math.inf)

# Print the negative infinity
print (-math.inf)

inf
-inf

Python math.nan Constant -Print the value of nan: - The math.nan constant returns a floating-point nan (Not a Number) value. This value is not a legal number.

The nan constant is equivalent to float('nan').

In [373]:
# Import math Library
import math

# Print the value of nan
print (math.nan)

nan

Python math.pi Constant - Print the value of PI:

In [374]:
# Import math Library
import math

# Print the value of pi
print (math.pi)

3.141592653589793

Python math.tau Constant - Print the value of tau:

In [375]:
# Import math Library
import math

# Print the value of tau
print (math.tau)

6.283185307179586

# Python statistics Module

Python statistics.harmonic_mean() Method - Calculate the harmonic mean of the given data:
The statistics.harmonic_mean() method calculates the harmonic mean (central location) of the given data set.

Harmonic mean = The reciprocal of the arithmetic mean() of the reciprocals of the data.

The harmonic mean is calculated as follows:

If you have four values (a, b, c and d) - it will be equivalent to 4 / (1/a + 1/b + 1/c + 1/d).

In [377]:
# Import statistics Library
import statistics

# Calculate harmonic mean
print(statistics.harmonic_mean([40, 60, 80]))
print(statistics.harmonic_mean([10, 30, 50, 70, 90]))

55.38461538461538
27.97513321492007

Python statistics.mean() Method - Calculate the average of the given data:

In [379]:
# Import statistics Library
import statistics

# Calculate average values
print(statistics.mean([1, 3, 5, 7, 9, 11, 13]))
print(statistics.mean([1, 3, 5, 7, 9, 11]))
print(statistics.mean([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6
1.8666666666666667

Python statistics.median() Method - Calculate the median (middle value) of the given data: 

The statistics.median() method calculates the median (middle value) of the given data set. This method also sorts the data in ascending order before calculating the median.

Tip: The mathematical formula for Median is: Median = {(n + 1) / 2}th value, where n is the number of values in a set of data. In order to calculate the median, the data must first be sorted in ascending order. The median is the number in the middle.

Note: If the number of data values is odd, it returns the exact middle value. If the number of data values is even, it returns the average of the two middle values.

In [380]:
# Import statistics Library
import statistics

# Calculate middle values
print(statistics.median([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median([1, 3, 5, 7, 9, 11]))
print(statistics.median([-11, 5.5, -3.4, 7.1, -9, 22]))

7
6.0
1.05

Python statistics.median_grouped() Method - Calculate the median of grouped continuous data:

The statistics.median_grouped() method calculates the median of grouped continuous data, calculated as the 50th percentile.

This method treats the data points as continuous data and calculates the 50% percentile median by first finding the median range using specified interval width (default is 1), and then interpolating within that range using the position of the values from the data set that fall in that range.

Tip: The mathematical formula for Grouped Median is: GMedian = L + interval * (N / 2 - CF) / F.

L = The lower limit of the median interval

interval = The interval width

N = The total number of data points

CF = The number of data points below the median interval

F = The number of data points in the median interval

In [381]:
# Import statistics Library
import statistics

# Calculate the median of grouped continuous data
print(statistics.median_grouped([1, 2, 3, 4]))
print(statistics.median_grouped([1, 2, 3, 4, 5]))
print(statistics.median_grouped([1, 2, 3, 4], 2))
print(statistics.median_grouped([1, 2, 3, 4], 3))
print(statistics.median_grouped([1, 2, 3, 4], 5))

2.5
3.0
2.0
1.5
0.5

Python statistics.median_high() Method - Calculate the high median (middle value) of the given data:
The statistics.median_high() method calculates the high median of the given data set. This method also sorts the data in ascending order before calculating the high median.

In [382]:
# Import statistics Library
import statistics

# Calculate the high middle values
print(statistics.median_high([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_high([1, 3, 5, 7, 9, 11]))
print(statistics.median_high([-11, 5.5, -3.4, 7.1, -9, 22]))

7
7
5.5

Python statistics.median_low() Method - Calculate the low median (middle value) of the given data:
The statistics.median_low() method calculates the low median of the given data set. This method also sorts the data in ascending order before calculating the low median.

Note: If the number of data values is odd, it returns the exact middle value. If the number of data values is even, it returns the smaller of the two middle values.

In [383]:
# Import statistics Library
import statistics

# Calculate the low middle values
print(statistics.median_low([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_low([1, 3, 5, 7, 9, 11]))
print(statistics.median_low([-11, 5.5, -3.4, 7.1, -9, 22]))

7
5
-3.4

Python statistics.mode() Method - Calculate the mode (central tendency) of the given data:

In [386]:
# Import statistics Library
import statistics

# Calculate the mode
print(statistics.mode([1, 3, 3, 3, 5, 7, 7 ,9, 11]))
print(statistics.mode([1, 1, 3, -5, 7, -9, 11]))
print(statistics.mode(['red', 'green', 'blue', 'red']))

3
1
red

Python statistics.pstdev() Method - Calculate the standard deviation from an entire population:

The statistics.pstdev() method calculates the standard deviation from an entire population.

Standard deviation is a measure of how spread out the numbers are.

A large standard deviation indicates that the data is spread out, - a small standard deviation indicates that the data is clustered closely around the mean.

Tip: Standard deviation is (unlike the Variance) expressed in the same units as the data.

Tip: Standard deviation is the square root of sample variance.

In [387]:
# Import statistics Library
import statistics

# Calculate the standard deviation from an entire population
print(statistics.pstdev([1, 3, 5, 7, 9, 11]))
print(statistics.pstdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pstdev([-11, 5.5, -3.4, 7.1]))
print(statistics.pstdev([1, 30, 50, 100]))

3.415650255319866
0.6322358912796886
7.287146217827662
36.09276243237694

Python statistics.stdev() Method - Calculate the standard deviation of the given data: The statistics.stdev() method calculates the standard deviation from a sample of data.

Standard deviation is a measure of how spread out the numbers are.

A large standard deviation indicates that the data is spread out, - a small standard deviation indicates that the data is clustered closely around the mean.

Tip: Standard deviation is (unlike the Variance) expressed in the same units as the data.

Tip: Standard deviation is the square root of sample variance.

Tip: To calculate the standard deviation of an entire population, look at the statistics.pstdev() method.

The statistics.stdev() method calculates the standard deviation from a sample of data.

Standard deviation is a measure of how spread out the numbers are.

A large standard deviation indicates that the data is spread out, - a small standard deviation indicates that the data is clustered closely around the mean.

Tip: Standard deviation is (unlike the Variance) expressed in the same units as the data.

Tip: Standard deviation is the square root of sample variance.

Tip: To calculate the standard deviation of an entire population, look at the statistics.pstdev() method.

In [388]:
# Import statistics Library
import statistics

# Calculate the standard deviation from a sample of data
print(statistics.stdev([1, 3, 5, 7, 9, 11]))
print(statistics.stdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.stdev([-11, 5.5, -3.4, 7.1]))
print(statistics.stdev([1, 30, 50, 100]))

3.7416573867739413
0.6925797186365383
8.414471660973927
41.67633221226008

Python statistics.pvariance() Method - Calculate the variance of an entire population: The statistics.pvariance() method calculates the variance of an entire population.

A large variance indicates that the data is spread out, - a small variance indicates that the data is clustered closely around the mean.

Tip: To calculate the variance from a sample of data, look at the statistics.variance() method.

In [389]:
# Import statistics Library
import statistics

# Calculate the variance of an entire population
print(statistics.pvariance([1, 3, 5, 7, 9, 11]))
print(statistics.pvariance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pvariance([-11, 5.5, -3.4, 7.1]))
print(statistics.pvariance([1, 30, 50, 100]))

11.666666666666666
0.3997222222222222
53.1025
1302.6875

Python statistics.variance() Method - Calculate the variance from a sample of data:
    
The statistics.variance() method calculates the variance from a sample of data (from a population).

A large variance indicates that the data is spread out, - a small variance indicates that the data is clustered closely around the mean.

Tip: To calculate the variance of an entire population, look at the statistics.pvariance() method.

In [393]:
# Import statistics Library
import statistics

# Calculate the variance from a sample of data
print(statistics.variance([1, 3, 5, 7, 9, 11]))
print(statistics.variance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.variance([-11, 5.5, -3.4, 7.1]))
print(statistics.variance([1, 30, 50, 100]))

14
0.47966666666666663
70.80333333333333
1736.9166666666667

# Python RegEx

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

RegEx Module

Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

The findall() Function - The findall() function returns a list containing all matches.

In [392]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:

Return an empty list if no match was found:

In [396]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

The search() Function

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

Search for the first white-space character in the string:

In [395]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

If no matches are found, the value None is returned:

Make a search that returns no match:

In [398]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

The split() Function - The split() function returns a list where the string has been split at each match:
Split at each white-space character:

In [399]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

You can control the number of occurrences by specifying the maxsplit parameter:

Split the string only at the first occurrence:

In [400]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

The sub() Function

The sub() function replaces the matches with the text of your choice:
    
Replace every white-space character with the number 9:

In [401]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

You can control the number of replacements by specifying the count parameter:

Replace the first 2 occurrences:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

[]	A set of characters

import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

\	Signals a special sequence (can also be used to escape special characters)

In [405]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

.   	Any character (except newline character)

In [407]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

^	Starts with

import re

txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

$	Ends with

In [411]:
import re

txt = "hello planet"

#Check if the string ends with 'planet':

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

"*  	Zero or more occurrences"

In [412]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":

x = re.findall("he.*o", txt)

print(x)

['hello']

"+	One or more occurrences"

In [413]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":

x = re.findall("he.+o", txt)

print(x)

['hello']

"?	Zero or one occurrences"

In [414]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

{}	Exactly the specified number of occurrences

In [415]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

x = re.findall("he.{2}o", txt)

print(x)

['hello']

|	Either or

In [416]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

()	Capture and group

\A	Returns a match if the specified characters are at the beginning of the string

In [417]:
import re

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [418]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the end of a WORD:

x = re.findall(r"ain\b", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [419]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [420]:
import re

txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the end of a word:

x = re.findall(r"ain\B", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [421]:
import re

txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the beginning of a word:

x = re.findall(r"\Bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

\d	Returns a match where the string contains digits (numbers from 0-9)

In [422]:
import re

txt = "The rain in Spain"

#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

\D	Returns a match where the string DOES NOT contain digits

In [423]:
import re

txt = "The rain in Spain"

#Return a match at every no-digit character:

x = re.findall("\D", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\s	Returns a match where the string contains a white space character

In [424]:
import re

txt = "The rain in Spain"

#Return a match at every white-space character:

x = re.findall("\s", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

\S	Returns a match where the string DOES NOT contain a white space character

In [425]:
import re

txt = "The rain in Spain"

#Return a match at every NON white-space character:

x = re.findall("\S", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)

In [426]:
import re

txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\W	Returns a match where the string DOES NOT contain any word characters

In [427]:
import re

txt = "The rain in Spain"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

\Z	Returns a match if the specified characters are at the end of the string

In [428]:
import re

txt = "The rain in Spain"

#Check if the string ends with "Spain":

x = re.findall("Spain\Z", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['Spain']
Yes, there is a match!

[arn]	Returns a match where one of the specified characters (a, r, or n) is present

In [429]:
import re

txt = "The rain in Spain"

#Check if the string has any a, r, or n characters:

x = re.findall("[arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

[a-n]	Returns a match for any lower case character, alphabetically between a and n

In [430]:
import re

txt = "The rain in Spain"

#Check if the string has any characters between a and n:

x = re.findall("[a-n]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

[^arn]	Returns a match for any character EXCEPT a, r, and n

In [431]:
import re

txt = "The rain in Spain"

#Check if the string has other characters than a, r, or n:

x = re.findall("[^arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present

In [432]:
import re

txt = "The rain in Spain"

#Check if the string has any 0, 1, 2, or 3 digits:

x = re.findall("[0123]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

[0-9]	Returns a match for any digit between 0 and 9

In [433]:
import re

txt = "8 times before 11:45 AM"

#Check if the string has any digits:

x = re.findall("[0-9]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59

In [434]:
import re

txt = "8 times before 11:45 AM"

#Check if the string has any two-digit numbers, from 00 to 59:

x = re.findall("[0-5][0-9]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case

In [435]:
import re

txt = "8 times before 11:45 AM"

#Check if the string has any characters from a to z lower case, and A to Z upper case:

x = re.findall("[a-zA-Z]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [438]:
import re

txt = "8 times before 11:45 AM"

#Check if the string has any + characters:

x = re.findall("[+]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

# Python Try Except

The try block lets you test a block of code for errors.

The except block lets you handle the error.

The else block lets you execute code when there is no error.

The finally block lets you execute code, regardless of the result of the try- and except blocks.

Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

The try block will generate an exception, because x is not defined:

In [443]:
try:
  print(X)
except:
  print("An exception occurred")

An exception occurred

Since the try block raises an error, the except block will be executed.

Without the try block, the program will crash and raise an error:

This statement will raise an error, because x is not defined:

In [442]:
print(X)

<class 'NameError'>: name 'X' is not defined

Many Exceptions

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

Print one message if the try block raises a NameError and another for other errors:

In [445]:
try:
  print(X)
except NameError:
  print("Variable X is not defined")
except:
  print("Something else went wrong")

Variable X is not defined

Else


You can use the else keyword to define a block of code to be executed if no errors were raised:

In [446]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

Finally


The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [448]:
try:
  print(X)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [449]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

Raise an exception

As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the raise keyword.

Raise an error and stop the program if x is lower than 0:

In [451]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

<class 'Exception'>: Sorry, no numbers below zero

The raise keyword is used to raise an exception.

You can define what kind of error to raise, and the text to print to the user.

Raise a TypeError if x is not an integer:

In [452]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

<class 'TypeError'>: Only integers are allowed

# Python JSON

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

Python has a built-in package called json, which can be used to work with JSON data.

In [453]:
import json

Parse JSON - Convert from JSON to Python

If you have a JSON string, you can parse it by using the json.loads() method.

Convert from JSON to Python:

In [454]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

Convert from Python to JSON

If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

In [455]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

Convert Python objects into JSON strings, and print the values:

In [456]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:

Python	   JSON

dict	  Object

list	  Array

tuple	  Array

str	  String

int	  Number

float	  Number

True	  true

False	  false

None	  null

Convert a Python object containing all the legal data types:

In [458]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

Format the Result

The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.

The json.dumps() method has parameters to make it easier to read the result:

Use the indent parameter to define the numbers of indents:

In [462]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Billy"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values:

Use the separators parameter to change the default separator:

In [463]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

The json.dumps() method has parameters to order the keys in the result:

Use the sort_keys parameter to specify if the result should be sorted or not:

In [464]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

# Python String Formatting

To make sure a string will display as expected, we can format the result with the format() method.

String format()
The format() method allows you to format selected parts of a string.

Sometimes there are parts of a text that you do not control, maybe they come from a database, or user input?

To control such values, add placeholders (curly brackets {}) in the text, and run the values through the format() method:

Add a placeholder where you want to display the price:

In [466]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

You can add parameters inside the curly brackets to specify how to convert the value:

Format the price to be displayed as a number with two decimals:

In [468]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [469]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

In [470]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [471]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

Named Indexes

You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [472]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# 5. NumPy Tutorial

NumPy is a Python library.

NumPy is used for working with arrays.

NumPy is short for "Numerical Python".


It also has functions for working in domain of linear algebra, fourier transform, and matrices.

NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

In Python we have lists that serve the purpose of arrays, but they are slow to process.

NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.

The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

Arrays are very frequently used in data science, where speed and resources are very important.

NumPy arrays are stored at one continuous place in memory unlike lists, so processes can access and manipulate them very efficiently.

This behavior is called locality of reference in computer science.

This is the main reason why NumPy is faster than lists. Also it is optimized to work with latest CPU architectures.

NumPy is a Python library and is written partially in Python, but most of the parts that require fast computation are written in C or C++

**Import Numphy**

In [2]:
import numpy

In [3]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [4]:
import numpy as np

import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

In [6]:
import numpy as np

print(np.__version__)

1.22.4

**Creating Arrays**

NumPy is used to work with arrays. The array object in NumPy is called ndarray.

We can create a NumPy ndarray object by using the array() function.

In [7]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

To create an ndarray, we can pass a list, tuple or any array-like object into the array() method, and it will be converted into an ndarray:

Use a tuple to create a NumPy array:

In [8]:
import numpy as np

arr = np.array((1, 2, 3, 4, 5))

print(arr)

[1 2 3 4 5]

Dimensions in Arrays

A dimension in arrays is one level of array depth (nested arrays).

0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

Create a 0-D array with value 42

In [10]:
arr = np.array(42)

print(arr)

42

1-D Arrays - An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

These are the most common and basic arrays.

Create a 1-D array containing the values 1,2,3,4,5:

In [11]:
arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

2-D Arrays - 
An array that has 1-D arrays as its elements is called a 2-D array.

These are often used to represent matrix or 2nd order tensors.

Create a 2-D array containing two arrays with the values 1,2,3 and 4,5,6:

In [13]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

[[1 2 3]
 [4 5 6]]

3-D arrays- 
An array that has 2-D arrays (matrices) as its elements is called 3-D array.

These are often used to represent a 3rd order tensor.

Create a 3-D array with two 2-D arrays, both containing two arrays with the values 1,2,3 and 4,5,6:

In [14]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

Check Number of Dimensions- NumPy Arrays provides the ndim attribute that returns an integer that tells us how many dimensions the array have.

In [15]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

Higher Dimensional Arrays - An array can have any number of dimensions.

When the array is created, you can define the number of dimensions by using the ndmin argument.

Create an array with 5 dimensions and verify that it has 5 dimensions:

In [16]:
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('number of dimensions :', arr.ndim)

[[[[[1 2 3 4]]]]]
number of dimensions : 5

In this array the innermost dimension (5th dim) has 4 elements, the 4th dim has 1 element that is the vector, the 3rd dim has 1 element that is the matrix with the vector, the 2nd dim has 1 element that is 3D array and 1st dim has 1 element that is a 4D array.

**Array Indexing**

Access Array Elements - 
Array indexing is the same as accessing an array element.

You can access an array element by referring to its index number.

The indexes in NumPy arrays start with 0, meaning that the first element has index 0, and the second has index 1 etc.

Get the first element from the following array:

In [17]:
arr = np.array([1, 2, 3, 4])

print(arr[0])

1

Get the second element from the following array.

In [18]:
arr = np.array([1, 2, 3, 4])

print(arr[1])

2

Get third and fourth elements from the following array and add them.

In [19]:
arr = np.array([1, 2, 3, 4])

print(arr[2] + arr[3])

7

Access 2-D Arrays - To access elements from 2-D arrays we can use comma separated integers representing the dimension and the index of the element.

Think of 2-D arrays like a table with rows and columns, where the row represents the dimension and the index represents the column.

Access the element on the first row, second column:

In [20]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2nd element on 1st row: ', arr[0, 1])

2nd element on 1st row:  2

Access the element on the 2nd row, 5th column

In [21]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('5th element on 2nd row: ', arr[1, 4])

5th element on 2nd row:  10

Access 3-D Arrays - To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

Access the third element of the second array of the first array:

In [22]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

6

Negative Indexing - 
Use negative indexing to access an array from the end.

Print the last element from the 2nd dim:

In [23]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

**Array Slicing**

Slicing in python means taking elements from one given index to another given index.

We pass slice instead of index like this: [start:end].

We can also define the step, like this: [start:end:step].

If we don't pass start its considered 0

If we don't pass end its considered length of array in that dimension

If we don't pass step its considered 1

Slice elements from index 1 to index 5 from the following array:

In [24]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

Slice elements from index 4 to the end of the array:

In [25]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

[5 6 7]

Slice elements from the beginning to index 4 (not included):

In [26]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])

[1 2 3 4]

Negative Slicing-
Use the minus operator to refer to an index from the end:

Slice from the index 3 from the end to index 1 from the end:

In [27]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

STEP - Use the step value to determine the step of the slicing:

Return every other element from index 1 to index 5:

In [28]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

Return every other element from the entire array:

In [29]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

[1 3 5 7]

Slicing 2-D Arrays -

From the second element, slice elements from index 1 to index 4 (not included):

In [32]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

[7 8 9]

From both elements, return index 2:

In [33]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 2])

[3 8]

From both elements, slice index 1 to index 4 (not included), this will return a 2-D array:

In [34]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

**NumPy Data Types**

Data Types in Python

By default Python have these data types:

strings - used to represent text data, the text is given under quote marks. e.g. "ABCD"

integer - used to represent integer numbers. e.g. -1, -2, -3

float - used to represent real numbers. e.g. 1.2, 42.42

boolean - used to represent True or False.

complex - used to represent complex numbers. e.g. 1.0 + 2.0j, 1.5 + 2.5j

Data Types in NumPy

NumPy has some extra data types, and refer to data types with one character, like i for integers, u for unsigned integers etc.

Below is a list of all data types in NumPy and the characters used to represent them.

i - integer

b - boolean

u - unsigned integer

f - float

c - complex float

m - timedelta

M - datetime

O - object

S - string

U - unicode string

V - fixed chunk of memory for other type ( void )

Checking the Data Type of an Array- 
The NumPy array object has a property called dtype that returns the data type of the array:

In [35]:
arr = np.array([1, 2, 3, 4])

print(arr.dtype)

int32

Get the data type of an array containing strings:

In [36]:
arr = np.array(['apple', 'banana', 'cherry'])

print(arr.dtype)

<U6

Creating Arrays With a Defined Data Type - 
We use the array() function to create arrays, this function can take an optional argument: dtype that allows us to define the expected data type of the array elements:

Create an array with data type string:

In [37]:
arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

For i, u, f, S and U we can define size as well.

Create an array with data type 4 bytes integer:

In [38]:
arr = np.array([1, 2, 3, 4], dtype='i4')

print(arr)
print(arr.dtype)

[1 2 3 4]
int32

What if a Value Can Not Be Converted? - 

If a type is given in which elements can't be casted then NumPy will raise a ValueError.

ValueError: In Python ValueError is raised when the type of passed argument to a function is unexpected/incorrect.

A non integer string like 'a' can not be converted to integer (will raise an error):

In [39]:
arr = np.array(['a', '2', '3'], dtype='i')

<class 'ValueError'>: invalid literal for int() with base 10: 'a'

Converting Data Type on Existing Arrays -

The best way to change the data type of an existing array, is to make a copy of the array with the astype() method.

The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.

The data type can be specified using a string, like 'f' for float, 'i' for integer etc. or you can use the data type directly like float for float and int for integer.

Change data type from float to integer by using 'i' as parameter value:

In [40]:
arr = np.array([1.1, 2.1, 3.1])

newarr = arr.astype('i')

print(newarr)
print(newarr.dtype)

[1 2 3]
int32

Change data type from float to integer by using int as parameter value:

In [41]:
arr = np.array([1.1, 2.1, 3.1])

newarr = arr.astype(int)

print(newarr)
print(newarr.dtype)

[1 2 3]
int32

Change data type from integer to boolean:

In [42]:
arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

**NumPy Array Copy vs View**

The Difference Between Copy and View

The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

Make a copy, change the original array, and display both arrays:

In [43]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

The copy SHOULD NOT be affected by the changes made to the original array.

Make a view, change the original array, and display both arrays:

In [44]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

Make a view, change the view, and display both arrays:

In [45]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
x[0] = 31

print(arr)
print(x)

[31  2  3  4  5]
[31  2  3  4  5]

Check if Array Owns its Data

As mentioned above, copies owns the data, and views does not own the data, but how can we check this?

Every NumPy array has the attribute base that returns None if the array owns the data.

Otherwise, the base  attribute refers to the original object.

Print the value of the base attribute to check if an array owns it's data or not:

In [46]:
arr = np.array([1, 2, 3, 4, 5])

x = arr.copy()
y = arr.view()

print(x.base)
print(y.base)

None
[1 2 3 4 5]

**NumPy Array Shape**

Shape of an Array- 
The shape of an array is the number of elements in each dimension.

Get the Shape of an Array - 
NumPy arrays have an attribute called shape that returns a tuple with each index having the number of corresponding elements.

Print the shape of a 2-D array:

In [48]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

print(arr.shape)

(2, 4)

The example above returns (2, 4), which means that the array has 2 dimensions, where the first dimension has 2 elements and the second has 4.

Create an array with 5 dimensions using ndmin using a vector with values 1,2,3,4 and verify that last dimension has value 4:

In [49]:
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('shape of array :', arr.shape)

[[[[[1 2 3 4]]]]]
shape of array : (1, 1, 1, 1, 4)

What does the shape tuple represent?

Integers at every index tells about the number of elements the corresponding dimension has.

In the example above at index-4 we have value 4, so we can say that 5th ( 4 + 1 th) dimension has 4 elements.

**NumPy Array Reshaping**

Reshaping arrays

Reshaping means changing the shape of an array.

The shape of an array is the number of elements in each dimension.

By reshaping we can add or remove dimensions or change number of elements in each dimension.

Reshape From 1-D to 2-D

Convert the following 1-D array with 12 elements into a 2-D array.

The outermost dimension will have 4 arrays, each with 3 elements:

In [50]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)

print(newarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

Reshape From 1-D to 3-D

Convert the following 1-D array with 12 elements into a 3-D array.

The outermost dimension will have 2 arrays that contains 3 arrays, each with 2 elements:

In [51]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(2, 3, 2)

print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

Can We Reshape Into any Shape?

Yes, as long as the elements required for reshaping are equal in both shapes.

We can reshape an 8 elements 1D array into 4 elements in 2 rows 2D array but we cannot reshape it into a 3 elements 3 rows 2D array as that would require 3x3 = 9 elements.

Try converting 1D array with 8 elements to a 2D array with 3 elements in each dimension (will raise an error):

In [52]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

newarr = arr.reshape(3, 3)

print(newarr)

<class 'ValueError'>: cannot reshape array of size 8 into shape (3,3)

Check if the returned array is a copy or a view:

In [53]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

print(arr.reshape(2, 4).base)

[1 2 3 4 5 6 7 8]

Unknown Dimension

You are allowed to have one "unknown" dimension.

Meaning that you do not have to specify an exact number for one of the dimensions in the reshape method.

Pass -1 as the value, and NumPy will calculate this number for you.

Convert 1D array with 8 elements to 3D array with 2x2 elements:

In [54]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

newarr = arr.reshape(2, 2, -1)

print(newarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

Flattening the arrays

Flattening array means converting a multidimensional array into a 1D array.

We can use reshape(-1) to do this.

Convert the array into a 1D array:

In [56]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

newarr = arr.reshape(-1)

print(newarr)

[1 2 3 4 5 6]

**NumPy Array Iterating**

Iterating means going through elements one by one.

As we deal with multi-dimensional arrays in numpy, we can do this using basic for loop of python.

If we iterate on a 1-D array it will go through each element one by one.

Iterate on the elements of the following 1-D array:

In [57]:
arr = np.array([1, 2, 3])

for x in arr:
  print(x)

1
2
3

Iterating 2-D Arrays

In a 2-D array it will go through all the rows.

Iterate on the elements of the following 2-D array:

In [58]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
  print(x)

[1 2 3]
[4 5 6]

If we iterate on a n-D array it will go through n-1th dimension one by one.

To return the actual values, the scalars, we have to iterate the arrays in each dimension.

Iterate on each scalar element of the 2-D array:

In [59]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
  for y in x:
    print(y)

1
2
3
4
5
6

Iterating 3-D Arrays - In a 3-D array it will go through all the 2-D arrays.

Iterate on the elements of the following 3-D array:

In [60]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
  print(x)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

To return the actual values, the scalars, we have to iterate the arrays in each dimension.

Iterate down to the scalars:

In [61]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
  for y in x:
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

Iterating Arrays Using nditer()

The function nditer() is a helping function that can be used from very basic to very advanced iterations. It solves some basic issues which we face in iteration, lets go through it with examples.

Iterating on Each Scalar Element

In basic for loops, iterating through each scalar of an array we need to use n for loops which can be difficult to write for arrays with very high dimensionality.

Iterate through the following 3-D array:

In [62]:
arr = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8

Iterating Array With Different Data Types

We can use op_dtypes argument and pass it the expected datatype to change the datatype of elements while iterating.

NumPy does not change the data type of the element in-place (where the element is in array) so it needs some other space to perform this action, that extra space is called buffer, and in order to enable it in nditer() we pass flags=['buffered'].

Iterate through the array as a string:

In [99]:
arr = np.array([1, 2, 3])

for x in np.nditer(arr, flags=['buffered'], op_dtypes=['S']):
  print(x)

b'1'
b'2'
b'3'

Iterating With Different Step Size

We can use filtering and followed by iteration.

Iterate through every scalar element of the 2D array skipping 1 element:

In [66]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

for x in np.nditer(arr[:, ::2]):
  print(x)

1
3
5
7

Enumerated Iteration Using ndenumerate() - Enumeration means mentioning sequence number of somethings one by one.

Sometimes we require corresponding index of the element while iterating, the ndenumerate() method can be used for those usecases.

Enumerate on following 1D arrays elements:

In [67]:
arr = np.array([1, 2, 3])

for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0,) 1
(1,) 2
(2,) 3

Enumerate on following 2D array's elements:

In [68]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 4
(1, 0) 5
(1, 1) 6
(1, 2) 7
(1, 3) 8

**NumPy Joining Array**

Joining means putting contents of two or more arrays in a single array.

In SQL we join tables based on a key, whereas in NumPy we join arrays by axes.

We pass a sequence of arrays that we want to join to the concatenate() function, along with the axis. If axis is not explicitly passed, it is taken as 0.

Join two arrays

In [69]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

Join two 2-D arrays along rows (axis=1):

In [70]:
arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])

arr = np.concatenate((arr1, arr2), axis=1)

print(arr)

[[1 2 5 6]
 [3 4 7 8]]

Joining Arrays Using Stack Functions

Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

We can concatenate two 1-D arrays along the second axis which would result in putting them one over the other, ie. stacking.

We pass a sequence of arrays that we want to join to the stack() method along with the axis. If axis is not explicitly passed it is taken as 0.

In [71]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.stack((arr1, arr2), axis=1)

print(arr)

[[1 4]
 [2 5]
 [3 6]]

Stacking Along Rows

NumPy provides a helper function: hstack() to stack along rows.

In [73]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.hstack((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

Stacking Along Columns

NumPy provides a helper function: vstack()  to stack along columns.

In [74]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.vstack((arr1, arr2))

print(arr)

[[1 2 3]
 [4 5 6]]

Stacking Along Height (depth)

NumPy provides a helper function: dstack() to stack along height, which is the same as depth.

In [75]:
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.dstack((arr1, arr2))

print(arr)

[[[1 4]
  [2 5]
  [3 6]]]

**NumPy Splitting Array**

Splitting is reverse operation of Joining.

Joining merges multiple arrays into one and Splitting breaks one array into multiple.

We use array_split() for splitting arrays, we pass it the array we want to split and the number of splits.

Split the array in 3 parts:

In [76]:
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

[array([1, 2]), array([3, 4]), array([5, 6])]

If the array has less elements than required, it will adjust from the end accordingly.

Split the array in 4 parts:

In [77]:
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 4)

print(newarr)

[array([1, 2]), array([3, 4]), array([5]), array([6])]

Split Into Arrays-
The return value of the array_split() method is an array containing each of the split as an array.

If you split an array into 3 arrays, you can access them from the result just like any array element:

Access the splitted arrays:

In [78]:
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr[0])
print(newarr[1])
print(newarr[2])

[1 2]
[3 4]
[5 6]

Splitting 2-D Arrays

Use the same syntax when splitting 2-D arrays.

Use the array_split() method, pass in the array you want to split and the number of splits you want to do.

Split the 2-D array into three 2-D arrays.

In [79]:
arr = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]])

newarr = np.array_split(arr, 3)

print(newarr)

[array([[1, 2],
       [3, 4]]), array([[5, 6],
       [7, 8]]), array([[ 9, 10],
       [11, 12]])]

The example above returns three 2-D arrays.

Let's look at another example, this time each element in the 2-D arrays contains 3 elements.

Split the 2-D array into three 2-D arrays.

In [80]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.array_split(arr, 3)

print(newarr)

[array([[1, 2, 3],
       [4, 5, 6]]), array([[ 7,  8,  9],
       [10, 11, 12]]), array([[13, 14, 15],
       [16, 17, 18]])]

The example above returns three 2-D arrays.

In addition, you can specify which axis you want to do the split around.

The example below also returns three 2-D arrays, but they are split along the row (axis=1).

Split the 2-D array into three 2-D arrays along rows.

In [81]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.array_split(arr, 3, axis=1)

print(newarr)

[array([[ 1],
       [ 4],
       [ 7],
       [10],
       [13],
       [16]]), array([[ 2],
       [ 5],
       [ 8],
       [11],
       [14],
       [17]]), array([[ 3],
       [ 6],
       [ 9],
       [12],
       [15],
       [18]])]

An alternate solution is using hsplit() opposite of hstack()

Use the hsplit() method to split the 2-D array into three 2-D arrays along rows.

In [82]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])

newarr = np.hsplit(arr, 3)

print(newarr)

[array([[ 1],
       [ 4],
       [ 7],
       [10],
       [13],
       [16]]), array([[ 2],
       [ 5],
       [ 8],
       [11],
       [14],
       [17]]), array([[ 3],
       [ 6],
       [ 9],
       [12],
       [15],
       [18]])]

**NumPy Searching Arrays**

You can search an array for a certain value, and return the indexes that get a match.

To search an array, use the where() method.

Find the indexes where the value is 4:

In [100]:
arr = np.array([1, 2, 3, 4, 5, 4, 4])

x = np.where(arr == 4)

print(x)

(array([3, 5, 6], dtype=int32),)

The example above will return a tuple: (array([3, 5, 6],)

Which means that the value 4 is present at index 3, 5, and 6.

Find the indexes where the values are even:

In [84]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

x = np.where(arr%2 == 0)

print(x)

(array([1, 3, 5, 7], dtype=int32),)

Find the indexes where the values are odd:

In [101]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

x = np.where(arr%2 == 1)

print(x)

(array([0, 2, 4, 6], dtype=int32),)

Search Sorted

There is a method called searchsorted() which performs a binary search in the array, and returns the index where the specified value would be inserted to maintain the search order.

Find the indexes where the value 7 should be inserted:

In [86]:
arr = np.array([6, 7, 8, 9])

x = np.searchsorted(arr, 7)

print(x)

1

The number 7 should be inserted on index 1 to remain the sort order.

The method starts the search from the left and returns the first index where the number 7 is no longer larger than the next value.

Search From the Right Side

By default the left most index is returned, but we can give side='right' to return the right most index instead.

Find the indexes where the value 7 should be inserted, starting from the right:

In [88]:
arr = np.array([6, 7, 8, 9])

x = np.searchsorted(arr, 7, side='right')

print(x)

2

The number 7 should be inserted on index 2 to remain the sort order.

The method starts the search from the right and returns the first index where the number 7 is no longer less than the next value.



Multiple Values

To search for more than one value, use an array with the specified values.

Find the indexes where the values 2, 4, and 6 should be inserted:

In [89]:
arr = np.array([1, 3, 5, 7])

x = np.searchsorted(arr, [2, 4, 6])

print(x)

[1 2 3]

The return value is an array: [1 2 3] containing the three indexes where 2, 4, 6 would be inserted in the original array to maintain the order.

**NumPy Sorting Arrays**

Sorting Arrays
Sorting means putting elements in an ordered sequence.

Ordered sequence is any sequence that has an order corresponding to elements, like numeric or alphabetical, ascending or descending.

The NumPy ndarray object has a function called sort(), that will sort a specified array.

In [90]:
arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

[0 1 2 3]

You can also sort arrays of strings, or any other data type: Sort the array alphabetically:

In [91]:
arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

['apple' 'banana' 'cherry']

Sort a boolean array:

In [92]:
arr = np.array([True, False, True])

print(np.sort(arr))

[False  True  True]

Sorting a 2-D Array

If you use the sort() method on a 2-D array, both arrays will be sorted:

In [93]:
arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))

[[2 3 4]
 [0 1 5]]

**NumPy Filter Array**

Getting some elements out of an existing array and creating a new array out of them is called filtering.

In NumPy, you filter an array using a boolean index list.

A boolean index list is a list of booleans corresponding to indexes in the array.

If the value at an index is True that element is contained in the filtered array, if the value at that index is False that element is excluded from the filtered array.


Create an array from the elements on index 0 and 2:

In [94]:
arr = np.array([41, 42, 43, 44])

x = [True, False, True, False]

newarr = arr[x]

print(newarr)

[41 43]

The example above will return [41, 43], why?

Because the new array contains only the values where the filter array had the value True, in this case, index 0 and 2.

Creating the Filter Array


In the example above we hard-coded the True and False values, but the common use is to create a filter array based on conditions.

Create a filter array that will return only values higher than 42:

In [95]:
arr = np.array([41, 42, 43, 44])

# Create an empty list
filter_arr = []

# go through each element in arr
for element in arr:
  # if the element is higher than 42, set the value to True, otherwise False:
  if element > 42:
    filter_arr.append(True)
  else:
    filter_arr.append(False)

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

[False, False, True, True]
[43 44]

Create a filter array that will return only even elements from the original array:

In [96]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

# Create an empty list
filter_arr = []

# go through each element in arr
for element in arr:
  # if the element is completely divisble by 2, set the value to True, otherwise False
  if element % 2 == 0:
    filter_arr.append(True)
  else:
    filter_arr.append(False)

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

[False, True, False, True, False, True, False]
[2 4 6]

Creating Filter Directly From Array


The above example is quite a common task in NumPy and NumPy provides a nice way to tackle it.

We can directly substitute the array instead of the iterable variable in our condition and it will work just as we expect it to.

Create a filter array that will return only values higher than 42:

In [97]:
arr = np.array([41, 42, 43, 44])

filter_arr = arr > 42

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

[False False  True  True]
[43 44]

Create a filter array that will return only even elements from the original array:

In [98]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

filter_arr = arr % 2 == 0

newarr = arr[filter_arr]

print(filter_arr)
print(newarr)

[False  True False  True False  True False]
[2 4 6]

**NumPy Random**

What is a Random Number?

Random number does NOT mean a different number every time. Random means something that can not be predicted logically.

Pseudo Random and True Random.

Computers work on programs, and programs are definitive set of instructions. So it means there must be some algorithm to generate a random number as well.

If there is a program to generate random number it can be predicted, thus it is not truly random.

Random numbers generated through a generation algorithm are called pseudo random.

Can we make truly random numbers?

Yes. In order to generate a truly random number on our computers we need to get the random data from some outside source. This outside source is generally our keystrokes, mouse movements, data on network etc.

We do not need truly random numbers, unless its related to security (e.g. encryption keys) or the basis of application is the randomness (e.g. Digital roulette wheels).

In this tutorial we will be using pseudo random numbers.

Generate Random Number - NumPy offers the random module to work with random numbers

Generate a random integer from 0 to 100:

In [103]:
from numpy import random

x = random.randint(100)

print(x)

85

Generate Random Float - The random module's rand() method returns a random float between 0 and 1.

In [104]:
x = random.rand()

print(x)

0.7717491188531342

Generate Random Array -

In NumPy we work with arrays, and you can use the two methods from the above examples to make random arrays.

Integers

The randint() method takes a size parameter where you can specify the shape of an array.

Generate a 1-D array containing 5 random integers from 0 to 100:

In [105]:
x=random.randint(100, size=(5))

print(x)

[69 58 62 90 63]

Generate a 2-D array with 3 rows, each row containing 5 random integers from 0 to 100:

In [106]:
x = random.randint(100, size=(3, 5))

print(x)

[[42 77 43 39 62]
 [54 79 22 95  3]
 [70 35 38 53 64]]

Floats - 
The rand() method also allows you to specify the shape of the array.

Generate a 1-D array containing 5 random floats:

In [108]:
x = random.rand(5)

print(x)

[0.64179503 0.61744172 0.0228897  0.76721189 0.52336656]

Generate a 2-D array with 3 rows, each row containing 5 random numbers:

In [109]:
x = random.rand(3, 5)

print(x)

[[0.86982498 0.50568262 0.39400978 0.31039827 0.95579661]
 [0.85965692 0.45152992 0.44308929 0.41671372 0.83191232]
 [0.51946843 0.70187926 0.97112033 0.07176401 0.66307656]]

Generate Random Number From Array


The choice() method allows you to generate a random value based on an array of values.

The choice() method takes an array as a parameter and randomly returns one of the values.

Return one of the values in an array:

In [111]:
x = random.choice([3, 5, 7, 9])

print(x)

9

The choice() method also allows you to return an array of values.

Add a size parameter to specify the shape of the array.

Generate a 2-D array that consists of the values in the array parameter (3, 5, 7, and 9):

In [114]:
x = random.choice([3, 5, 7, 9], size=(3, 5))

print(x)

[[5 9 3 7 7]
 [3 9 5 9 7]
 [5 9 5 9 9]]

**Random Data Distribution**

What is Data Distribution?

Data Distribution is a list of all possible values, and how often each value occurs.

Such lists are important when working with statistics and data science.

The random module offer methods that returns randomly generated data distributions.

Random Distribution

A random distribution is a set of random numbers that follow a certain probability density function.

Probability Density Function: A function that describes a continuous probability. i.e. probability of all values in an array.

We can generate random numbers based on defined probabilities using the choice() method of the random module.

The choice() method allows us to specify the probability for each value.

The probability is set by a number between 0 and 1, where 0 means that the value will never occur and 1 means that the value will always occur.

Example

Generate a 1-D array containing 100 values, where each value has to be 3, 5, 7 or 9.

The probability for the value to be 3 is set to be 0.1

The probability for the value to be 5 is set to be 0.3

The probability for the value to be 7 is set to be 0.6

The probability for the value to be 9 is set to be 0

In [116]:
x = random.choice([3, 5, 7, 9], p=[0.1, 0.3, 0.6, 0.0], size=(100))

print(x)

[7 3 7 7 5 7 7 7 7 7 5 3 7 5 7 5 5 3 5 3 7 3 7 7 7 7 7 3 3 7 7 7 7 7 7 5 7
 7 7 7 7 7 7 7 7 7 7 7 7 7 7 5 3 7 7 3 7 7 7 5 7 5 7 7 5 7 7 5 7 7 7 7 7 7
 7 5 7 7 7 7 3 7 7 7 5 5 5 3 7 7 7 7 5 7 7 5 7 5 5 7]

The sum of all probability numbers should be 1.

Even if you run the example above 100 times, the value 9 will never occur.

You can return arrays of any shape and size by specifying the shape in the size parameter.

Example

Same example as above, but return a 2-D array with 3 rows, each containing 5 values.

In [117]:
x = random.choice([3, 5, 7, 9], p=[0.1, 0.3, 0.6, 0.0], size=(3, 5))

print(x)

[[5 5 5 7 7]
 [5 7 3 7 7]
 [5 7 7 7 7]]

**Random Permutations**

Random Permutations of Elements

A permutation refers to an arrangement of elements. e.g. [3, 2, 1] is a permutation of [1, 2, 3] and vice-versa.

The NumPy Random module provides two methods for this: shuffle() and permutation().

Shuffling Arrays

Shuffle means changing arrangement of elements in-place. i.e. in the array itself.

Example

Randomly shuffle elements of following array:

In [118]:
arr = np.array([1, 2, 3, 4, 5])

random.shuffle(arr)

print(arr)

[5 4 1 2 3]

Generating Permutation of Arrays

In [119]:
arr = np.array([1, 2, 3, 4, 5])

print(random.permutation(arr))

[1 4 3 2 5]

**Visualize Distributions With Seaborn**

Seaborn is a library that uses Matplotlib underneath to plot graphs. It will be used to visualize random distributions.

Distplots

Distplot stands for distribution plot, it takes as input an array and plots a curve corresponding to the distribution of points in the array.

Plotting a Distplot

In [121]:
!pip3 install seaborn

<class 'AttributeError'>: module 'pexpect' has no attribute 'TIMEOUT'

In [120]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.distplot([0, 1, 2, 3, 4, 5])

plt.show()

<class 'NameError'>: name 'distplot' is not defined