# DATA SCIENCE AND MACHINE LEARNING

**CONTENTS -**

PART - A - CONCEPTS

PART - B - PYTHON

1. **Data Science Concept** -The Thought of Data Science Came from Data Analysis. Data Analysis isn't new. Statisticians have been doing it for many years. Even Normal people have been Doing it in excel for years.But Slowly amount of data increased due to Wide Internet usage. It is become impossible for statistician to analyze such huge quantity of data. So various software and programing languages have been developed for doing this Analysis. Analysis of data through this softwares and derive insights from it called Data Science. Also In Statistics we deal with samples of data, To find insights from it. But in Data Science we deal with total data. So Unlike Statistics in data Science insights are more accurate.

2. **Data Mining** -

a. **Establishing Goals**
- Identify Key Questions That to be Answered
- Expected level of acquiricy of the result.
- Higher the expected Level of Acquiricy Higher the Project cost
- Usefullness of the result

b. **Selecting Data**
- The output  largely depends upon the quality of data being used. 
- If data is not readily available plan new data collection initiatives, including surveys.
- Availability of Data Also effecting Cost

c. **Preprocessing Data**
- STEP 1 - Identify the irrelevant attributes and erroneous aspects of data to ensure integrity. 
- STEP 2 - Develop a formal method of dealing with missing data in advance and determine whether the data are missing randomly or systematically  and its impact on results.If observations or variables are missing randomly its impact is less, if data is missing systamaticaly This would lead to systematic biases in the analysis.
- STEP 3 - After the relevant attributes of data have been retained, the next step is to determine the appropriate format in which data must be stored. 
- STEP 4 -  Reduce the number of attributes needed to explain the phenomena by transforming observations or variables reduction algorithms such as Principal Component Analysis without a significant loss in information. Often you need to transform variables from one type to another. Like Continious Variable to Categorial Variable. This could help capture the non-linearities in the underlying behaviors.

d. **Storing Data**
- Transformed data must be stored in a format that makes it conducive for data mining. 
- Data must be stored in a format that gives unrestricted and immediate read/write privileges to the data scientist. 
- During data mining, new variables are created, which are written back to the original database, which is why the data storage scheme should facilitate efficiently reading from and writing to the database. 
- It is also important to store data on servers or storage media that keeps the data secure and also prevents the data mining algorithm from unnecessarily searching for pieces of data scattered on different servers or storage media. Data safety and privacy should be a prime concern for storing data.

e. **Mining Data** - Finding Trends - Finding Sonething - Data Analysis
- Data analysis using, including parametric and non-parametric methods, and machine-learning algorithms. A good starting point for data mining is data visualization. 
- Multidimensional views of the data using the advanced graphing capabilities of data mining software are very helpful in developing a preliminary understanding of the trends hidden in the data set. 

f. **Evaluating Mining Results**
- In-sample forecast means testing the predictive capabilities of the models on observed data to see how effective and efficient the algorithms have been in reproducing data. 
- Evalution of results in the light of the Stakeholders feedback and use better and improved algorithms to improve the quality of results.

3. **The Report Structure**
- **Detailed Report or Brief Report** - Before starting the analysis, think about the structure of the report. It can be a 5 page report or  100 page document. A brief report is more to the point and presents a summary of key findings.
A detailed report incrementally builds the argument and contains details about other relevant works, research methodology, data sources, and intermediate findings along with the main results.
The length of the reports varied depending largely on the purpose of the report. Brief reports were drafted as commentaries on current trends and developments that attracted public or media attention.
Detailed and comprehensive reports offered a critical review of the subject matter with extensive data analysis and commentary.
Often, detailed reports collected new data or interviewed industry experts to answer the research questions. Even if you expect the report to be brief, sporting five or fewer pages, I recommend that the deliverable follow a prescribed
format including the cover page, table of contents, executive summary, detailed contents, acknowledgments, references, and appendices (if needed).
- **Cover Report** - I often find the cover page to be missing in documents. It is not the inexperience of undergraduate students that is reflected in submissions that usually miss the cover page.
In fact, doctoral candidates also require an explicit reminder to include an informative cover page. I hasten to mention that the business world sleuths are hardly any better.
Just search the Internet for reports and you will find plenty of reports from reputed firms that are missing the cover page. At a minimum, the cover page should include the title of the report, names of authors, their affiliations,
and contacts, the name of the institutional publisher (if any), and the date of publication. I have seen numerous reports missing the date of publication, making it impossible to cite them without the year
and month of publication. Also, from a business point of view, authors should make it easier for the reader to reach out to them. Having contact details at the front makes the task easier.
- **Table of Contents** - "A table of contents (ToC)" is like a map needed for a trip never taken before. You need to have a sense of the journey before embarking on it.
A map provides a visual proxy for the actual travel with details about the landmarks that you will pass by in your trip. The ToC with main headings and lists of tables and figures offers a glimpse of what lies ahead in the document.
Never shy away from including a ToC, especially if your document, excluding cover page, table of contents, and references, is five or more pages in length.
Even for a short document, I recommend an "abstract" or an "executive summary". Nothing is more powerful than explaining the crux of your arguments in three paragraphs or less.
Of course, for larger documents running a few hundred pages, the executive summary could be longer.
- **Introductory Section** - An "introductory section" is always helpful in setting up the problem for the reader who might be new to the topic and who might need to be gently introduced to the subject matter
before being immersed in intricate details. A good follow-up to the introductory section is a review of available relevant research on the subject matter.
The length of the literature review section depends upon how contested the subject matter is. In instances where the vast majority of researchers have concluded in one direction,
- **Nuanced arguments** - On the other hand, if the arguments are more nuanced with caveats aplenty, then you must cite the relevant research to offer adequate context before you embark on your analysis.
- **Literature review**- You might use the literature review to highlight gaps in the existing knowledge, which your analysis will try to fill. This is where you formally introduce your research questions and hypothesis.
- **Methodology** - In the "methodology" section, you introduce the research methods and data sources you used for the analysis. If you have collected new data, explain the data collection exercise in some detail.
You will refer to the literature review to bolster your choice for variables, data, and methods and how they will help you answer your research questions.
- **Results** - The results section is where you present your empirical findings. Starting with descriptive statistics.and illustrative graphics you will move toward formally testing your hypothesis
In case you need to run statistical models, you might turn to regression models or categorical analysis. If you are working with time-series data
You can also report results from other empirical techniques that fall under the general rubric of data mining.
Note that many reports in the business sector present results in a more palatable fashion by holding back the statistical details and relying on illustrative graphics to summarize the results.
The results section is followed by the discussion section, where you craft your main arguments by building on the results you have presented earlier.
- **Discussion Knowledge Gaap**- The "discussion section" is where you rely on the power of narrative to enable numbers to communicate your thesis to your readers.
You refer the reader to the research question and the knowledge gaps you identified earlier. You highlight how your findings provide the ultimate missing piece to the puzzle.
Of course, not all analytics return a smoking gun. At times, more frequently than I would like to acknowledge, the results provide only a partial answer to the question and that, too, with a long list of caveats.
- **Conclusion** - In the "conclusion" section, you generalize your specific findings and take on a rather marketing approach to promote your findings so that the reader does not remain stuck in
the caveats that you have voluntarily outlined earlier. You might also identify future possible developments in research and applications that could result from your research.
What remains is housekeeping, including a list of references, the acknowledgment section (acknowledging the support of those who have enabled your work is always good), and "appendices", if needed.
- **Important Questions**
Have You Done Your Job as a Writer? As a writer, you are responsible for communicating your findings to the readers.
Have You done your Job as a Data Scientist? As a data scientist, you are expected to do thorough analysis with the appropriate data, deploying the appropriate tools.
Transport Policy, a leading research publication in transportation planning, offers a checklist for authors interested in publishing with the journal.
Have you told readers, at the outset, what they might gain by reading your paper?
Have you made the aim of your work clear?
Have you explained the significance of your contribution?
Have you set your work in the appropriate context by giving sufficient background (including a complete set of relevant references) to your work?
Have you addressed the question of practicality and usefulness?
Have you identified future developments that might result from your work?
Have you structured your paper in a clear and logical fashion?
- **Leanth and Content** - The length and content of the final report will vary depending on the needs of the project.
The structure of the final report for a Data Science project should include a cover page, table of contents, executive summary, detailed contents, acknowledgements, references and appendices.
The report should present a thorough analysis of the data and communicate the project findings.

3. **Data Science Methodology**

A. **Business Understanding And Analytical Approach**

- The need to understand and prioritize the business goal.
- The way stakeholder support influences a project.
- The importance of selecting the right model.
- When to use a predictive, descriptive, or classification model.

B. **Data Requirement And Data Collection**

- Identify data requirements for your model.
- Why the content, format, and representation of your data matter.   
- The importance of identifying the correct sources of data for your project.
- How to handle unavailable and redundant data.
- To anticipate the needs of future stages in the process.

C. **Data Understanding And Preparation**

- The importance of descriptive statistics.
- How to manage missing, invalid, or misleading data.
- The need to clean data and sometimes transform it.
- The consequences of bad data for the model.
- Data understanding is iterative; you learn more about your data the more you study it.

D. **Modeling And Evolution**

- The difference between descriptive and predictive models.
- The role of training sets and test sets.
- The importance of asking if the question has been answered.
- Why diagnostic measures tools are needed.
- The purpose of statistical significance tests.
- That modeling and evaluation are iterative processes.

E. **Deployment And Feedback**

- The importance of stakeholder input.
- To consider the scale of deployment.
- The importance of incorporating feedback to refine the model.
- The refined model must be redeployed.
- This process should be repeated as often as necessary.

- **10 Questions to Ask**

1. What is the problem that you are trying to solve?
2. How can you use the Data to Answer the Question?
3. What data do you need to answer the question?
4. Where is the data comming from and how you get it?
5. Is the data you have collected representative of the problem to be solved?
6. What additional work is required to manipulate and work with the data?
7. In what way can the data be visualized to get the answer that is required?
8. Does the model used realy answer the initial question or does it need to be adjusted?
9. Can you put the model into practice?
10. Can you get constructive feedback to answering the question?

4. **Machine learning**

Machine learning  is a subset of AI that uses computer algorithms to analyze data and make intelligent decisions based on what it is learned without being explicitly programmed.Machine learning algorithms are trained with large sets of data and they learn from examples. They do not follow rules-based algorithms. Machine learning is what enables machines to solve problems on their own and make accurate predictions using the provided data.

**Techniques** -

1. **Regression/Estimation** - Predecting Continioues values for example price of a house based on its characteristics or estimate co2 ommission from a car engine. 
2. **Classification** - Predecting class or catagory of a case.for example, if a cell is benign or malignant, or whether or not a customer will churn. 
3. **Clustering** - Groups of similar cases, for example, can find similar patients, or can be used for customer segmentation in the banking field.
4. **Association** -  Technique is used for finding items or events that often co-occur, for example, grocery items that are usually bought together by a particular customer.
5. **Anomaly detection**-  Is used to discover abnormal and unusual cases, for example, it is used for credit card fraud detection.
6. **Sequence mining** -  Is used for predicting the next event, for instance, the click-stream in websites.
7. **Dimension reduction** -  Is used to reduce the size of data.
8. **Recommendation systems**- This associates people's preferences with others who have similar tastes, and recommends new items to them, such as books or movies.

5. **Deep learning And Nural Networks**

6. **Artificial intelligence**

7. **Tools Available** -

***PART - B - PYTHON***

1. Python Basics
2. Python for importing files
3. Python for Web scraping
4. Python for Sql
5. Python for Data Analysis 
6. Python for Data Visualization
7. Python for Machine Learning
8. Projects

# 1. **Python Syntax**

1. **Python syntax can be executed by writing directly in the Command Line.**

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [80]:
print("Hello, World!")

Hello, World!

In [81]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

2. **Python will give you an error if you skip the indentation:**

In [83]:
if 5 > 2:
print("Five is greater than two!")

<class 'IndentationError'>: expected an indented block after 'if' statement on line 1 (<ipython-input-83-a314491c53bb>, line 2)

3. **The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one**

In [82]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# 2. Python Comments

- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.
- Comments starts with a #,  and Python will ignore them.

In [90]:
#This is a comment
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will ignore the rest of the line.

In [91]:
print("Hello, World!") #This is a comment

Hello, World!

In [92]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# 3. Python Variables

- Variables are containers for storing data values.
- Python has no command for declaring a variable.
- A variable is created the moment you first assign a value to it.

In [94]:
x = 5
y = "John"
print(x)
print(y)

5
John

- Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [95]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [96]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

- **Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [97]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Illegal variable names:**

In [98]:
2myvar = "John"
my-var = "John"
my var = "John"

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-98-0e82719f22b4>, line 1)

**Python allows you to assign values to multiple variables in one line:**

In [99]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables**

In [100]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**

In [101]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

The Python print() function is often used to output variables.

In [102]:
x = "Python is awesome"
print(x)

Python is awesome

**In the print() function, you output multiple variables, separated by a comma:**

In [103]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

**You can also use the + operator to output multiple variables:**

In [105]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [106]:
x = 5
y = 10
print(x + y)

15

**In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error**

In [107]:
x = 5
y = "John"
print(x + y)

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

**The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:**

In [108]:
x = 5
y = "John"
print(x, y)

5 John

**Global Variables.**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [109]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.**

In [110]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# 4. Python Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [111]:
x = 5
print(type(x))

<class 'int'>

In [112]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [113]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [114]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [115]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [116]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [117]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [118]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [119]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [120]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [123]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [122]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [124]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [125]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [126]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x31dfa08>
<class 'memoryview'>

In [127]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

# 5. Python Numbers

There are three numeric types in Python:

int

float

complex

In [129]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [130]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [131]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [132]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [133]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [134]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Convert from one type to another**

In [135]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.**

In [137]:
import random

print(random.randrange(1, 10))

6

# 6.Casting

Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [139]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [142]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [143]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# 7. Python Strings

Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [144]:
print("Hello")
print('Hello')

Hello
Hello

Assign String to a Variable

In [145]:
a = "Hello"
print(a)

Hello

You can use three double quotes:

In [146]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [147]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Slicing Strings**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [149]:
b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start- Get the characters from the start to position 5 (not included):

In [150]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End - Get the characters from position 2, and all the way to the end:

In [151]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [152]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Modify Strings**

Python has a set of built-in methods that you can use on strings.

The upper() method returns the string in upper case:

In [154]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

The lower() method returns the string in lower case:

In [155]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [158]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

The replace() method replaces a string with another string:

In [159]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Split String**

The split() method splits the string into substrings if it finds instances of the separator:

In [160]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

**String Concatenation**

Merge variable a with variable b into variable c:

In [161]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

- add a space between them, add a " ":

In [162]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Format - Strings**

We cannot combine strings and numbers like this:

In [163]:
age = 36
txt = "My name is John, I am " + age
print(txt)

<class 'TypeError'>: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [164]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [166]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [167]:
txt = "We are the so-called "Vikings" from the north."

<class 'SyntaxError'>: invalid syntax (<ipython-input-167-56cdf4283a8e>, line 1)

**To fix this problem, use the escape character SLASS ": **

In [169]:
txt = "We are the so-called \"Vikings\" from the north."

In [170]:
txt

'We are the so-called "Vikings" from the north.'

**Single Quote**

In [171]:
txt = 'It\'s alright.'
print(txt)

It's alright.

**Backslash**

In [172]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

**New Line**

In [173]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

**Carriage Return**

In [174]:
txt = "Hello\rWorld!"
print(txt)

World!

**Tab**

In [175]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

**Backspace**

In [176]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

**Form Feed**

In [177]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

**Octal value**

In [178]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

**Hex value**

In [179]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

**String Methods**

capitalize() Converts the first character to upper case

In [180]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

casefold() Converts string into lower case

In [181]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

center()	Returns a centered string

Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [182]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

Using the letter "O" as the padding character:

In [183]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

count()	Returns the number of times a specified value occurs in a string

Return the number of times the value "apple" appears in the string:

In [184]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

Search from position 10 to 24:

In [186]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

Python String encode() Method

UTF-8 encode the string:

In [187]:
txt = "My name is Stle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

Definition and Usage

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

encoding	Optional. A String specifying the encoding to use. Default is UTF-8

errors	Optional. A String specifying the error method. Legal values are:
    
'backslashreplace'	- uses a backslash instead of the character that could not be encoded

'ignore'	- ignores the characters that cannot be encoded

'namereplace'	- replaces the character with a text explaining the character

'strict'	- Default, raises an error on failure

'replace'	- replaces the character with a questionmark

'xmlcharrefreplace'	- replaces the character with an xml character

These examples uses ascii encoding, and a character that cannot be encoded, showing the result with different errors:

In [188]:
txt = "My name is Stle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

endswith()	Returns true if the string ends with the specified value

In [189]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [190]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

Check if position 5 to 11 ends with the phrase "my world.":

In [191]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

expandtabs()	Sets the tab size of the string

Set the tab size to 2 whitespaces:

In [192]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [193]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

find()	Searches the string for a specified value and returns the position of where it was found

In [194]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

Where in the text is the first occurrence of the letter "e"?:

In [195]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [196]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

If the value is not found, the find() method returns -1, but the index() method will raise an exception:

In [198]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

<class 'ValueError'>: substring not found

format()	Formats specified values in a string

Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

In [200]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)

txt2 = "My name is {0}, I'm {1}".format("John",36)

txt3 = "My name is {}, I'm {}".format("John",36)

:<   Left aligns the result (within the available space)

In [201]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

:>		Right aligns the result (within the available space)

In [203]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

:^		Center aligns the result (within the available space)

In [204]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

:=		Places the sign to the left most position

In [205]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

:+		Use a plus sign to indicate if the result is positive or negative

In [207]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

:-		Use a minus sign for negative values only

In [208]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

: 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

In [209]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

:,		Use a comma as a thousand separator

In [210]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

:_		Use a underscore as a thousand separator

In [211]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

:b		Binary format

In [212]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

:c		Converts the value into the corresponding unicode character

:d		Decimal format

In [213]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

:e		Scientific format, with a lower case e

In [214]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

:e		Scientific format, with a lower case e

In [215]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

:E		Scientific format, with an upper case E

In [216]:
#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

:E		Scientific format, with an upper case E

In [217]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

:f		Fix point number format

In [218]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)

In [219]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

:g		General format

In [ ]:
:G		General format (using a upper case E for scientific notations)

:o		Octal format

In [220]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

:x		Hex format, lower case

In [221]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

:X		Hex format, upper case

In [222]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

:n		Number format

:%		Percentage format

In [223]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

Where in the text is the word "welcome"?:

In [224]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

In [225]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

isalnum()	Returns True if all characters in the string are alphanumeric

In [226]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

Check if all the characters in the text is alphanumeric:

In [228]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

isalpha()	Returns True if all characters in the string are in the alphabet

In [230]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

In [231]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

isdecimal()	Returns True if all characters in the string are decimals

In [232]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

In [233]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

isdigit()	Returns True if all characters in the string are digits

In [234]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [235]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for 

print(a.isdigit())
print(b.isdigit())

True
True

isidentifier()	Returns True if the string is an identifier

In [236]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [237]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

islower()	Returns True if all characters in the string are lower case

In [238]:
txt = "hello world!"

x = txt.islower()

print(x)

True

The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [239]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

isnumeric()	Returns True if all characters in the string are numeric

In [240]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like  and  are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

In [241]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

isprintable()	Returns True if all characters in the string are printable

In [242]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

The isprintable() method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

In [243]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

isspace()	Returns True if all characters in the string are whitespaces

In [244]:
txt = "   "

x = txt.isspace()

print(x)

True

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [245]:
txt = "   s   "

x = txt.isspace()

print(x)

False

istitle()	Returns True if the string follows the rules of a title

In [247]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

In [248]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

isupper() Returns True if all characters in the string are upper case

In [249]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

he isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [250]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [251]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

In [252]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

ljust()	Returns a left justified version of the string

In [254]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [255]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
ljust()	Returns a left justified version of the string

In [256]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [257]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

lower()	Converts a string into lower case

In [258]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

The lower() method returns a string where all characters are lower case.

 Symbols and Numbers are ignored.

lstrip()	Returns a left trim version of the string

In [259]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

he lstrip() method removes any leading characters (space is the default leading character to remove)

In [260]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

maketrans()	Returns a translation table to be used in translations

Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

In [261]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

In [262]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [263]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [264]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

partition()	Returns a tuple where the string is parted into three parts

Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"

2 - the "match"

3 - everything after the "match"

In [265]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

In [266]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

replace()	Returns a string where a specified value is replaced with a specified value

In [268]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

The replace() method replaces a specified phrase with another specified phrase.

In [269]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [270]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

In [271]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

Where in the text is the last occurrence of the letter "e"?:

In [272]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?

In [273]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

In [275]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

<class 'ValueError'>: substring not found

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

rjust()	Returns a right justified version of the string

Return a 20 characters long, right justified version of the word "banana":

In [279]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

The rjust() method will right align the string, using a specified character (space is default) as the fill character.

In [281]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

rpartition()	Returns a tuple where the string is parted into three parts

Search for the last occurrence of the word "bananas", and return a tuple with three elements:

1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [282]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

In [283]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

rsplit()	Splits the string at the specified separator, and returns a list

In [284]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [285]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

Split a string into a list, using comma, followed by a space (, ) as the separator:

In [286]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

In [287]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

rstrip()	Returns a right trim version of the string

Remove any white spaces at the end of the string:

In [289]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

Remove the trailing characters if they are commas, s, q, or w:

In [290]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

split()	Splits the string at the specified separator, and returns a list

In [291]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Split the string, using comma, followed by a space, as a separator:

In [292]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

Use a hash character as a separator:

In [293]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

Split the string into a list with max 2 items:

In [294]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

splitlines()	Splits the string at line breaks and returns a list

Split a string into a list where each line is a list item:

In [295]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [296]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

startswith()	Returns true if the string starts with the specified value

In [297]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

The startswith() method returns True if the string starts with the specified value, otherwise False.

In [298]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

strip()	Returns a trimmed version of the string

In [299]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

Remove the leading and trailing characters:

In [301]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

swapcase()	Swaps cases, lower case becomes upper case and vice versa

Make the lower case letters upper case and the upper case letters lower case:

In [302]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

title()	Converts the first character of each word to upper case

In [303]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

Make the first letter in each word upper case:

In [305]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [306]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

translate()	Returns a translated string

Replace any "S" characters with a "P" character:

In [307]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

In [308]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [309]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [310]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [311]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

upper()	Converts a string into upper case

In [312]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

The upper() method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
Fill the string with zeros until it is 10 characters long:

In [313]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

he zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

Fill the strings with zeros until they are 10 characters long:

In [315]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

# 2. **Bullion** - 

Bullion express true or false. If there is something in the bracket true if not false.

In [15]:
print(10 > 9)

True

In [16]:
print(10 == 9)

False

In [17]:
print(10 < 9)

False

In [19]:
print(bool("Hello"))

True

In [20]:
print(bool(15))

True

In [21]:
x = "Hello"
y = 15

print(bool(x))

True

In [22]:
print(bool(y))

True

In [23]:
bool("abc")

True

In [24]:
bool(123)

True

In [25]:
bool(["apple", "cherry", "banana"])

True

In [26]:
bool(False)

False

In [27]:
bool(None)

False

In [28]:
bool(0)

False

In [29]:
bool("")

False

In [30]:
bool(())

False

In [31]:
bool([])

False

In [32]:
bool({})

False

In [34]:
print(True)

True

In [36]:
print(int(True))

1

In [38]:
print(int(False))

0

In [39]:
print(False-True)

-1

In [40]:
print(True-False)

1

In [42]:
print(True>False)

True

In [43]:
print(True<False)

False

In [44]:
print(True+False)

1

In [45]:
print(True**False)

1

In [46]:
print(False/True)

0.0

In [48]:
x = 200
print(isinstance(x, int))

True

In [49]:
def myFunction() :
  return True

print(myFunction())

True

In [50]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

# 8. Python Operators

Operators are used to perform operations on variables and values.

In [316]:
print(10 + 5)

15

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

Addition

In [317]:
x = 5
y = 3

print(x + y)

8

Subtraction

In [318]:
x = 5
y = 3

print(x - y)

2

Multiplication

In [ ]:
x = 5
y = 3

print(x * y)

Division

In [319]:
x = 12
y = 3

print(x / y)

4.0

Modulus

In [320]:
x = 5
y = 2

print(x % y)

1

Exponentiation

In [321]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

Floor division

In [322]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

=

In [323]:
x = 5

print(x)

5

+=

In [324]:
x = 5

x += 3

print(x)

8

-=

In [325]:
x = 5

x -= 3

print(x)

2

/=

In [326]:
x = 5

x /= 3

print(x)

1.6666666666666667

%=

In [327]:
x = 5

x%=3

print(x)

2

%=

In [328]:
x = 5

x//=3

print(x)

1

//=

In [329]:
x = 5

x//=3

print(x)

1

**=

In [330]:
x = 5

x **= 3

print(x)

125

&=

In [331]:
x = 5

x &= 3

print(x)

1

|=

In [332]:
x = 5

x |= 3

print(x)

7

^=

In [333]:
x = 5

x ^= 3

print(x)

6

'>>=	x >>= 3	x = x >> 3'

In [334]:
x = 5

x >>= 3

print(x)

0

<<=	x <<= 3	x = x << 3

and 	Returns True if both statements are true	x < 5 and  x < 10

In [335]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

or	Returns True if one of the statements is true	x < 5 or x < 4

In [339]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [ ]:
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [340]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

is 	Returns True if both variables are the same object	x is y

In [341]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

is not	Returns True if both variables are not the same object	x is not y

In [342]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

in 	Returns True if a sequence with the specified value is present in the object	x in y

In [343]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [344]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True


**& AND**   Sets each bit to 1 if both bits are 1

**| OR**  Sets each bit to 1 if one of two bits is 1

**^XOR**     Sets each bit to 1 if only one of two bits is 1
 
**~ NOT**     Inverts all the bits

**Zero fill left shift**         Shift left by pushing zeros in from the right and let the leftmost bits fall off

**Signed right shift**           Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [345]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Since tuples are indexed, they can have items with the same value.

In [351]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

To determine how many items a tuple has, use the len() function:

In [352]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [353]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple items can be of any data type:

In [354]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple with strings, integers and boolean values:

In [355]:
tuple1 = ("abc", 34, True, 40, "male")

From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [356]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

It is also possible to use the tuple() constructor to make a tuple.

3. **Expressions/Mathematical Operations And Variables** -

In [51]:
43+60+16+41

160

In [52]:
50-60

-10

In [53]:
5*5

25

In [54]:
25/5

5.0

In [55]:
25/6

4.166666666666667

In [56]:
25//6

4

In [57]:
2*60+30

150

In [58]:
30+2*60

150

In [60]:
(30+2)*60

1920

In [61]:
x=5
y=1

In [62]:
x+y

6

In [63]:
x=160

In [64]:
x=x/60

In [70]:
x

2.6666666666666665

In [71]:
type(x)

float

In [72]:
total_min=42+45+98

In [75]:
total_hour=total_min//60

In [76]:
total_hour

3

4. **String And Index** - String can be spaces,digits or special character.

In [77]:
"1 2  3 4 5"

'1 2  3 4 5'

In [78]:
"@#$%^&*!"

'@#$%^&*!'

In [79]:
Name="Michael Jackson"

In [80]:
Name[0]

'M'

In [83]:
Name[0:4]

'Mich'

In [84]:
Name[-1]

'n'

In [85]:
Name[8:12]

'Jack'

In [87]:
Name[::2]

'McalJcsn'

In [88]:
Name[0:5:2]

'Mca'

In [89]:
len(Name)

15

In [90]:
Statement=Name+'is the best'

In [91]:
Statement

'Michael Jacksonis the best'

In [92]:
3*Statement

'Michael Jacksonis the bestMichael Jacksonis the bestMichael Jacksonis the best'

In [93]:
Name=Name+' is a danser'

In [115]:
Name

'Michael Jacksonis a danser'

In [111]:
print('Michael Jackson \n is a danser')

Michael Jackson
 is a danser

In [112]:
print('Michael Jackson \\ is a danser')

Michael Jackson \ is a danser

In [113]:
A=Name.upper()

In [114]:
A

'MICHAEL JACKSONIS A DANSER'

In [106]:
B=A.lower()

In [107]:
B

'michael jacksonis a danser'

In [108]:
C=A.replace('MICHAEL','JANET')

In [109]:
C

'JANET JACKSONIS A DANSER'

In [118]:
C.find('er')

-1

In [120]:
C.find('JANET')

0

5. **Touples**

In [121]:
Ratings=(10,9,6,5,10,8,9,6,2)

In [122]:
Touple1=("Disco",10,1.2)

In [123]:
Touple1[0]

'Disco'

In [124]:
Touple2=Touple1+("hard rock",10)

In [125]:
Touple2

('Disco', 10, 1.2, 'hard rock', 10)

In [126]:
Touple2[0:3]

('Disco', 10, 1.2)

In [127]:
Touple2[3:5]

('hard rock', 10)

In [130]:
len(Touple2)

5

In [131]:
Ratings2=Ratings

In [138]:
Ratings=(2,10,1)

In [133]:
Ratings2

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [135]:
Ratings

(2, 10, 1)

In [136]:
RatingsSorted=sorted(Ratings)

In [137]:
RatingsSorted

[1, 2, 10]

In [139]:
NT=(1,2,("POP","ROCK"),(3,4),("DISCO",(1,2)))

In [140]:
NT[2]

('POP', 'ROCK')

In [141]:
NT[2][0]

'POP'

In [142]:
NT[4][1][0]

1

6. **LISTS**

In [143]:
L=["MICHEL JACKSON",10.1,1982,[1,2],('A',1)]

In [144]:
L[0]

'MICHEL JACKSON'

In [145]:
L[3:5]

[[1, 2], ('A', 1)]

In [146]:
L1=L+["POP",10]

In [147]:
L1

['MICHEL JACKSON', 10.1, 1982, [1, 2], ('A', 1), 'POP', 10]

In [150]:
L1.extend([11,12])

In [151]:
L1

['MICHEL JACKSON', 10.1, 1982, [1, 2], ('A', 1), 'POP', 10, 11, 12]

In [153]:
L1.append(["13","14"])

In [154]:
L1

['MICHEL JACKSON',
 10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14']]

In [155]:
del(L1[0])

In [156]:
L1

[10.1, 1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14']]

In [157]:
L1.extend(['MICHEL JACKSON'])

In [158]:
L1

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [159]:
'MICHEL JACKSON'.split()

['MICHEL', 'JACKSON']

In [160]:
L1

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [163]:
"A,B,C,D,E".split(",")

['A', 'B', 'C', 'D', 'E']

In [164]:
L2=L1

In [165]:
L2

[10.1,
 1982,
 [1, 2],
 ('A', 1),
 'POP',
 10,
 11,
 12,
 ['13', '14'],
 'MICHEL JACKSON']

In [166]:
del(L2[0])

In [167]:
L2

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [168]:
L1

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [169]:
L2=L1[:]

In [170]:
L2[0]="banana"

In [171]:
L2

['banana', [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

In [172]:
L1

[1982, [1, 2], ('A', 1), 'POP', 10, 11, 12, ['13', '14'], 'MICHEL JACKSON']

7. **Dictionaries**

In [179]:
dict={"Thriller":1982,"black in black":1980,"The dark side of the moon":1973,"The Bodyguard":1992}

In [182]:
dict["Thriller"]

1982

In [186]:
dict['graduation']=2007

In [187]:
dict

{'Thriller': 1982,
 'black in black': 1980,
 'The dark side of the moon': 1973,
 'The Bodyguard': 1992,
 'graduation': 2007}

In [188]:
del(dict['Thriller'])

In [189]:
dict

{'black in black': 1980,
 'The dark side of the moon': 1973,
 'The Bodyguard': 1992,
 'graduation': 2007}

In [190]:
'The Bodyguard' in dict

True

In [191]:
'starboy' in dict

False

In [192]:
dict.keys()

dict_keys(['black in black', 'The dark side of the moon', 'The Bodyguard', 'graduation'])

In [193]:
dict.values()

dict_values([1980, 1973, 1992, 2007])

8. **SETS**

- Sets are type of collection.This Means like list and Touples you can input different python types.
- Unlike List and touples they are unordered,ie. Sets do not record element position.
- Sets only have unique elements this means there is only one of a particular element is a Set.
- You can convert list to a set.

In [195]:
set1={"pop","rock","soul","hard rock","rock","R&B","rock","disco"}

In [196]:
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [197]:
L5=[1,2,2,3,4]

In [200]:
L5

[1, 2, 2, 3, 4]

In [198]:
S1=set(L5)

In [199]:
S1

{1, 2, 3, 4}

In [201]:
A={'Thriller','Back in black','AC/DC'}

In [202]:
A.add("NSYNC")

In [203]:
A

{'AC/DC', 'Back in black', 'NSYNC', 'Thriller'}

In [204]:
A.remove('Thriller')

In [205]:
A

{'AC/DC', 'Back in black', 'NSYNC'}

In [3]:
album_set_1={'Thriller','Back in black','Moon'}

In [4]:
album_set_2={'Thriller','Back in black','NSYNC'}

In [5]:
album_set_3=album_set_1&album_set_2

In [6]:
album_set_3

{'Back in black', 'Thriller'}

In [8]:
album_set_4=album_set_1.union(album_set_2)

In [9]:
album_set_4

{'Back in black', 'Moon', 'NSYNC', 'Thriller'}

In [13]:
album_set_4.issubset(album_set_1)

False

In [14]:
album_set_1.issubset(album_set_4)

True

9. **Conditions and Branching**

In [15]:
A=6

In [16]:
A==6

True

In [17]:
A==7

False

In [25]:
A>7

False

In [26]:
A<7

True

In [28]:
A!=7

True

In [29]:
A!=6

False

In [30]:
"LOVE"=="HATE"

False

In [31]:
"LOVE"!="HATE"

True

In [61]:
age=19

In [60]:
if (age>18):
    print("you can enter")
else:
    print("move on")

you can enter

In [48]:
if (age>18):
    print("you can enter")
elif (age>16):
    print("medical test")
else:
    print("move on")

medical test

In [64]:
if age<18 or age>16:
    print ("ok")
else:
    print("not ok")

ok

In [65]:
if age<18 and age>16:
    print ("ok")
else:
    print("not ok")

not ok

10. **Loops**

In [69]:
x = range(6)
for n in x:
  print(n)

0
1
2
3
4
5

In [70]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [71]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19